# Memory Time Series Example
In this example we show the usage of the MemoryTimeSeries to export a simple DataFrame to ZRXP format.

In [1]:
import numpy as np
import pandas as pd
from kisters.water.time_series.file_io import MemoryTimeSeries, ZRXPFormat

In [2]:
metadata = {'tsPath': 'my/custom/ts', 'id': 1234, 'name': 'My custom time series', 'shortName': 'ts'}
df = pd.DataFrame({'value': 5 * np.random.random_sample((24))}, index=pd.date_range('2010-01-01T00:00', '2010-01-01T23:00', freq='H'))

In [3]:
my_custom_ts = MemoryTimeSeries(metadata, df)

In [4]:
my_custom_ts.metadata

{'tsPath': 'my/custom/ts',
 'id': 1234,
 'name': 'My custom time series',
 'shortName': 'ts',
 'dataCoverageFrom': Timestamp('2010-01-01 00:00:00+0000', tz='UTC', freq='H'),
 'dataCoverageUntil': Timestamp('2010-01-01 23:00:00+0000', tz='UTC', freq='H')}

In [5]:
my_custom_ts.read_data_frame()

                              value
2010-01-01 00:00:00+00:00  1.098398
2010-01-01 01:00:00+00:00  2.033839
2010-01-01 02:00:00+00:00  4.369865
2010-01-01 03:00:00+00:00  3.419896
2010-01-01 04:00:00+00:00  0.765488
2010-01-01 05:00:00+00:00  1.335197
2010-01-01 06:00:00+00:00  0.164672
2010-01-01 07:00:00+00:00  0.889991
2010-01-01 08:00:00+00:00  1.087907
2010-01-01 09:00:00+00:00  3.534916
2010-01-01 10:00:00+00:00  0.577415
2010-01-01 11:00:00+00:00  1.765616
2010-01-01 12:00:00+00:00  2.345477
2010-01-01 13:00:00+00:00  2.911855
2010-01-01 14:00:00+00:00  2.018613
2010-01-01 15:00:00+00:00  4.440382
2010-01-01 16:00:00+00:00  2.660394
2010-01-01 17:00:00+00:00  2.921365
2010-01-01 18:00:00+00:00  2.634505
2010-01-01 19:00:00+00:00  0.123010
2010-01-01 20:00:00+00:00  1.828829
2010-01-01 21:00:00+00:00  2.906160
2010-01-01 22:00:00+00:00  1.911478
2010-01-01 23:00:00+00:00  2.796933

In [6]:
df = pd.DataFrame({'value': 5 * np.random.random_sample((24))}, index=pd.date_range('2010-01-02T00:00', '2010-01-02T23:00', freq='H'))
my_custom_ts.write_data_frame(df)

In [7]:
my_custom_ts.read_data_frame()

                              value
2010-01-01 00:00:00+00:00  1.098398
2010-01-01 01:00:00+00:00  2.033839
2010-01-01 02:00:00+00:00  4.369865
2010-01-01 03:00:00+00:00  3.419896
2010-01-01 04:00:00+00:00  0.765488
2010-01-01 05:00:00+00:00  1.335197
2010-01-01 06:00:00+00:00  0.164672
2010-01-01 07:00:00+00:00  0.889991
2010-01-01 08:00:00+00:00  1.087907
2010-01-01 09:00:00+00:00  3.534916
2010-01-01 10:00:00+00:00  0.577415
2010-01-01 11:00:00+00:00  1.765616
2010-01-01 12:00:00+00:00  2.345477
2010-01-01 13:00:00+00:00  2.911855
2010-01-01 14:00:00+00:00  2.018613
2010-01-01 15:00:00+00:00  4.440382
2010-01-01 16:00:00+00:00  2.660394
2010-01-01 17:00:00+00:00  2.921365
2010-01-01 18:00:00+00:00  2.634505
2010-01-01 19:00:00+00:00  0.123010
2010-01-01 20:00:00+00:00  1.828829
2010-01-01 21:00:00+00:00  2.906160
2010-01-01 22:00:00+00:00  1.911478
2010-01-01 23:00:00+00:00  2.796933
2010-01-02 00:00:00+00:00  1.079685
2010-01-02 01:00:00+00:00  3.716693
2010-01-02 02:00:00+00:00  1.724851
2010-01-02 03:00:00+00:00  3.955216
2010-01-02 04:00:00+00:00  3.634202
2010-01-02 05:00:00+00:00  0.507425
2010-01-02 06:00:00+00:00  0.169156
2010-01-02 07:00:00+00:00  2.836479
2010-01-02 08:00:00+00:00  4.089598
2010-01-02 09:00:00+00:00  1.805653
2010-01-02 10:00:00+00:00  2.870139
2010-01-02 11:00:00+00:00  4.770442
2010-01-02 12:00:00+00:00  3.910549
2010-01-02 13:00:00+00:00  3.487169
2010-01-02 14:00:00+00:00  2.369166
2010-01-02 15:00:00+00:00  4.776239
2010-01-02 16:00:00+00:00  3.931590
2010-01-02 17:00:00+00:00  0.216989
2010-01-02 18:00:00+00:00  3.406451
2010-01-02 19:00:00+00:00  2.368616
2010-01-02 20:00:00+00:00  0.935793
2010-01-02 21:00:00+00:00  0.099677
2010-01-02 22:00:00+00:00  1.492254
2010-01-02 23:00:00+00:00  3.894393

In [8]:
writer = ZRXPFormat().writer
writer.write('my_custom_ts.zrxp', [my_custom_ts])