# Quick overview of KISTERS Time Series
This is an overview of the functionality capabilities of the KISTERS time series library.
## KiWISStore
This object is the connector to the KiWIS backend and provides access to the TimeSeries in there.

In [1]:
from kisters.water.time_series.kiwis import KiWISStore
import pandas as pd

kiwis = KiWISStore(base_url="http://kiwis.kisters.de/KiWIS2/KiWIS")

ts_list = kiwis.get_by_filter("123/*/Precip/MMonth.Total")
ts_list

[123/00003/Precip/MMonth.Total(8240042),
 123/07374/Precip/MMonth.Total(8245042),
 123/03987/Precip/MMonth.Total(8345042),
 123/1/Precip/MMonth.Total(8236042),
 123/00046/Precip/MMonth.Total(8250042),
 123/15000/Precip/MMonth.Total(8251042),
 123/123/Precip/MMonth.Total(8257042),
 123/04016/Precip/MMonth.Total(8347042),
 123/03946/Precip/MMonth.Total(8340042)]

In [2]:
kiwis.get_by_path("123/07374/Precip/MMonth.Total")

123/07374/Precip/MMonth.Total(8245042)

In [3]:
ts = kiwis.get_by_id(7411042, params={'metadata': ['site.all']})

## KiWIS TimeSeries

In [4]:
ts

DWD/07367/Precip/CmdTotal.1h(7411042)

### Attributes

In [5]:
ts.id

7411042

In [6]:
ts.path

'DWD/07367/Precip/CmdTotal.1h'

In [7]:
ts.name

'0 Stundenwerte'

In [8]:
ts.short_name

'CmdTotal.1h'

In [9]:
ts.coverage_from

datetime.datetime(2007, 12, 1, 0, 0, tzinfo=tzoffset(None, 3600))

In [10]:
ts.coverage_until

datetime.datetime(2019, 1, 30, 23, 0, tzinfo=tzoffset(None, 3600))

In [11]:
ts.metadata

{'from': datetime.datetime(2007, 12, 1, 0, 0, tzinfo=tzoffset(None, 3600)),
 'to': datetime.datetime(2019, 1, 30, 23, 0, tzinfo=tzoffset(None, 3600)),
 'tsPath': 'DWD/07367/Precip/CmdTotal.1h',
 'shortName': 'CmdTotal.1h',
 'site': {'no': 'DWD', 'id': '23412', 'name': 'DWD'},
 'id': 7411042,
 'name': '0 Stundenwerte',
 'dataCoverageFrom': datetime.datetime(2007, 12, 1, 0, 0, tzinfo=tzoffset(None, 3600)),
 'dataCoverageUntil': datetime.datetime(2019, 1, 30, 23, 0, tzinfo=tzoffset(None, 3600))}

In [12]:
ts.read_data_frame()

                           Value
timestamp
2007-11-30 23:00:00+00:00    0.1
2007-12-01 00:00:00+00:00    0.0
2007-12-01 01:00:00+00:00    0.6
2007-12-01 02:00:00+00:00    0.3
2007-12-01 03:00:00+00:00    0.1
2007-12-01 04:00:00+00:00    0.2
2007-12-01 05:00:00+00:00    0.3
2007-12-01 06:00:00+00:00    0.3
2007-12-01 07:00:00+00:00    0.1
2007-12-01 08:00:00+00:00    0.0
2007-12-01 09:00:00+00:00    0.0
2007-12-01 10:00:00+00:00    0.0
2007-12-01 11:00:00+00:00    0.0
2007-12-01 12:00:00+00:00    0.0
2007-12-01 13:00:00+00:00    0.0
2007-12-01 14:00:00+00:00    0.0
2007-12-01 15:00:00+00:00    0.0
2007-12-01 16:00:00+00:00    0.0
2007-12-01 17:00:00+00:00    0.0
2007-12-01 18:00:00+00:00    0.0
2007-12-01 19:00:00+00:00    0.0
2007-12-01 20:00:00+00:00    0.0
2007-12-01 21:00:00+00:00    0.0
2007-12-01 22:00:00+00:00    0.0
2007-12-01 23:00:00+00:00    0.0
2007-12-02 00:00:00+00:00    0.0
2007-12-02 01:00:00+00:00    0.1
2007-12-02 02:00:00+00:00    0.7
2007-12-02 03:00:00+00:00    0.0
2007-12-02 04:00:00+00:00    0.0
...                          ...
2019-01-29 17:00:00+00:00    0.0
2019-01-29 18:00:00+00:00    0.0
2019-01-29 19:00:00+00:00    0.0
2019-01-29 20:00:00+00:00    0.0
2019-01-29 21:00:00+00:00    0.0
2019-01-29 22:00:00+00:00    0.0
2019-01-29 23:00:00+00:00    0.0
2019-01-30 00:00:00+00:00    0.0
2019-01-30 01:00:00+00:00    0.0
2019-01-30 02:00:00+00:00    0.0
2019-01-30 03:00:00+00:00    0.0
2019-01-30 04:00:00+00:00    0.0
2019-01-30 05:00:00+00:00    0.0
2019-01-30 06:00:00+00:00    0.0
2019-01-30 07:00:00+00:00    0.0
2019-01-30 08:00:00+00:00    0.0
2019-01-30 09:00:00+00:00    0.0
2019-01-30 10:00:00+00:00    0.0
2019-01-30 11:00:00+00:00    0.0
2019-01-30 12:00:00+00:00    0.0
2019-01-30 13:00:00+00:00    0.0
2019-01-30 14:00:00+00:00    0.0
2019-01-30 15:00:00+00:00    0.0
2019-01-30 16:00:00+00:00    0.0
2019-01-30 17:00:00+00:00    0.0
2019-01-30 18:00:00+00:00    0.0
2019-01-30 19:00:00+00:00    0.0
2019-01-30 20:00:00+00:00    0.0
2019-01-30 21:00:00+00:00    0.0
2019-01-30 22:00:00+00:00    0.0

[97193 rows x 1 columns]

### TimeSeries.read_data_frame()
You can pass **start** and **end** to put limits on the retrieval of data, both **start** and **end** dates are included.  
To specify this arguments you can either use ISO Datetime strings or datetime objects. If timezone is not specified it is assumed the timezone from the timeseries.

In [13]:
ts.read_data_frame(start='2018', end='2019')

                           Value
timestamp
2018-01-01 00:00:00+00:00    0.1
2018-01-01 01:00:00+00:00    0.0
2018-01-01 02:00:00+00:00    0.0
2018-01-01 03:00:00+00:00    0.0
2018-01-01 04:00:00+00:00    0.0
2018-01-01 05:00:00+00:00    0.0
2018-01-01 06:00:00+00:00    0.4
2018-01-01 07:00:00+00:00    0.0
2018-01-01 08:00:00+00:00    0.0
2018-01-01 09:00:00+00:00    0.0
2018-01-01 10:00:00+00:00    0.0
2018-01-01 11:00:00+00:00    0.0
2018-01-01 12:00:00+00:00    0.1
2018-01-01 13:00:00+00:00    0.0
2018-01-01 14:00:00+00:00    0.0
2018-01-01 15:00:00+00:00    0.0
2018-01-01 16:00:00+00:00    0.0
2018-01-01 17:00:00+00:00    0.0
2018-01-01 18:00:00+00:00    0.0
2018-01-01 19:00:00+00:00    1.0
2018-01-01 20:00:00+00:00    1.0
2018-01-01 21:00:00+00:00    0.3
2018-01-01 22:00:00+00:00    0.0
2018-01-01 23:00:00+00:00    1.0
2018-01-02 00:00:00+00:00    0.6
2018-01-02 01:00:00+00:00    0.6
2018-01-02 02:00:00+00:00    0.9
2018-01-02 03:00:00+00:00    0.8
2018-01-02 04:00:00+00:00    0.3
2018-01-02 05:00:00+00:00    0.5
...                          ...
2018-12-30 19:00:00+00:00    0.0
2018-12-30 20:00:00+00:00    0.0
2018-12-30 21:00:00+00:00    0.0
2018-12-30 22:00:00+00:00    0.0
2018-12-30 23:00:00+00:00    0.0
2018-12-31 00:00:00+00:00    0.0
2018-12-31 01:00:00+00:00    0.0
2018-12-31 02:00:00+00:00    0.0
2018-12-31 03:00:00+00:00    0.0
2018-12-31 04:00:00+00:00    0.0
2018-12-31 05:00:00+00:00    0.0
2018-12-31 06:00:00+00:00    0.7
2018-12-31 07:00:00+00:00    0.2
2018-12-31 08:00:00+00:00    0.0
2018-12-31 09:00:00+00:00    0.0
2018-12-31 10:00:00+00:00    0.0
2018-12-31 11:00:00+00:00    0.0
2018-12-31 12:00:00+00:00    0.0
2018-12-31 13:00:00+00:00    0.0
2018-12-31 14:00:00+00:00    0.0
2018-12-31 15:00:00+00:00    0.0
2018-12-31 16:00:00+00:00    0.0
2018-12-31 17:00:00+00:00    0.0
2018-12-31 18:00:00+00:00    0.0
2018-12-31 19:00:00+00:00    0.0
2018-12-31 20:00:00+00:00    0.0
2018-12-31 21:00:00+00:00    0.0
2018-12-31 22:00:00+00:00    0.0
2018-12-31 23:00:00+00:00    0.0
2019-01-01 00:00:00+00:00    0.1

[8723 rows x 1 columns]

# FileStore
This TimeSeriesStore allows you to access your own files for test purposes. You can specify the format of the files to search with the FileFormat classes (ZRXPFormat, CSVFormat, PickleFormat).

In [14]:
from kisters.water.time_series.file_io import FileStore, ZRXPFormat

In [15]:
fs = FileStore('testdata', ZRXPFormat())

In [16]:
fs.get_by_filter('*')

[05BJ004.HG.datum.O(None),
 K-Greim-SG-cmd-2000-2004(None),
 inside/05BJ004.HG.nrt.O(None),
 inside/Copy-05BJ004.HG.nrt.O(None),
 inside/Copy-my_test(None),
 inside/my_test(None),
 my_new_path(None)]

In [17]:
ts = fs.get_by_path('inside/05BJ004.HG.nrt.O')

In [18]:
ts.metadata

{'CNAME': 'HG',
 'CNR': 'HG',
 'CUNIT': 'M',
 'LAYOUT': '(timestamp,value)',
 'RINVAL': '-777',
 'RTIMELVL': 'high-resolution',
 'SANR': '1',
 'SNAME': 'ELBOW RIVER AT BRAGG CREEK',
 'TZ': 'UTC-7',
 'ZRX': {'data_offset': '246',
  'file': 'C:\\Users\\amorales\\workspace\\water-python\\time_series\\kisters.water.time_series\\examples\\testdata\\inside\\05BJ004.HG.nrt.O.zrx',
  'invalid': -777.0,
  'nrows': '25583',
  'timezone': 'UTC-7'},
 'ZRXPCREATOR': 'ZRXP-Fileexport',
 'ZRXPVERSION': '2206.235',
 'columns': ['timestamp', 'value', 'value.quality', 'value.interpolation'],
 'dataCoverageFrom': Timestamp('1999-10-31 00:00:00+0000', tz='UTC'),
 'dataCoverageUntil': Timestamp('2005-02-19 19:00:00+0000', tz='UTC'),
 'id': None,
 'invalidValue': '-777',
 'name': '05BJ004.HG.nrt.O',
 'parameterName': 'HG',
 'parameterNumber': 'HG',
 'shortName': '05BJ004.HG.nrt.O',
 'stationName': 'ELBOW RIVER AT BRAGG CREEK',
 'stationNumber': '1',
 'timeLevel': 'high-resolution',
 'timezone': 'UTC-7',
 'tsPath': 'inside/05BJ004.HG.nrt.O',
 'unit': 'M'}

### FileTimeSeries.create_time_series()
This is the standard method to create TimeSeries represented by a file.

In [19]:
ts_new = fs.create_time_series(path='inside/my_test', display_name='My test ts')

In [20]:
with open('testdata/inside/my_test.zrx', 'r') as f:
    print(f.read())

#RINVAL-777
#LAYOUT(timestamp,value)|*|

### FileTimeSeries.create_time_series_from()
Creates a copy from a TimeSeries. You can specify the new_path of the copy, if you don't specify it the copy will have the prefix **Copy-** before the file name.

In [21]:
fs.create_time_series_from(copy_from=ts)

To avoid overwriting original file the new Time Series file will be inside/Copy-05BJ004.HG.nrt.O, if you want to overwrite it please specify the new_path explicitly

inside/Copy-05BJ004.HG.nrt.O(None)

In [22]:
fs.create_time_series_from(copy_from=ts, new_path='my_new_path')

my_new_path(None)

#### NOTE
The copy is created only with the metadata of the file, to include the data you can later do the write_data_frame.

In [23]:
with open('testdata/inside/Copy-05BJ004.HG.nrt.O.zrx', 'r') as f:
    print(f.read())

#RINVAL-777|*|SNAMEELBOW RIVER AT BRAGG CREEK|*|SANR1|*|CNAMEHG|*|CNRHG|*|CUNITM|*|RINVAL-777|*|RTIMELVLhigh-resolution|*|TSPATHinside/Copy-05BJ004.HG.nrt.O|*|TZUTC-7
#LAYOUT(timestamp,value)|*|

In [24]:
with open('testdata/my_new_path.zrx', 'r') as f:
    print(f.read())

#RINVAL-777|*|SNAMEELBOW RIVER AT BRAGG CREEK|*|SANR1|*|CNAMEHG|*|CNRHG|*|CUNITM|*|RINVAL-777|*|RTIMELVLhigh-resolution|*|TSPATHmy_new_path|*|TZUTC-7
#LAYOUT(timestamp,value)|*|

In [25]:
ts_new.write_data_frame(ts.read_data_frame())
ts_new.read_data_frame()

                           value  value.quality  value.interpolation
timestamp
1999-10-31 00:00:00+00:00  0.259            200                  102
1999-10-31 01:00:00+00:00  0.259            200                  102
1999-10-31 02:00:00+00:00  0.259            200                  102
1999-10-31 03:00:00+00:00  0.259            200                  102
1999-10-31 04:00:00+00:00  0.259            200                  102
1999-10-31 05:00:00+00:00  0.259            200                  102
1999-10-31 06:00:00+00:00  0.259            200                  102
1999-10-31 07:00:00+00:00  0.259            200                  102
1999-10-31 08:00:00+00:00  0.259            200                  102
1999-10-31 09:00:00+00:00  0.259            200                  102
1999-10-31 10:00:00+00:00  0.259            200                  102
1999-10-31 11:00:00+00:00  0.261            200                  102
1999-11-01 12:00:00+00:00  0.265            200                  102
1999-11-01 13:00:00+00:00  0.267            200                  102
1999-11-01 14:00:00+00:00  0.267            200                  102
1999-11-01 15:00:00+00:00  0.267            200                  102
1999-11-01 16:00:00+00:00  0.267            200                  102
1999-11-01 17:00:00+00:00  0.267            200                  102
1999-11-01 18:00:00+00:00  0.267            200                  102
1999-11-01 19:00:00+00:00  0.267            200                  102
1999-11-01 20:00:00+00:00  0.267            200                  102
1999-11-01 21:00:00+00:00  0.267            200                  102
1999-11-01 22:00:00+00:00  0.265            200                  102
1999-11-01 23:00:00+00:00  0.265            200                  102
1999-11-02 12:00:00+00:00  0.255            200                  102
1999-11-02 13:00:00+00:00  0.255            200                  102
1999-11-02 14:00:00+00:00  0.255            200                  102
1999-11-02 15:00:00+00:00  0.255            200                  102
1999-11-02 16:00:00+00:00  0.255            200                  102
1999-11-02 17:00:00+00:00  0.255            200                  102
...                          ...            ...                  ...
2005-02-17 23:30:00+00:00  0.576            200                  102
2005-02-18 12:00:00+00:00  0.576            200                  102
2005-02-18 12:05:00+00:00  0.576            200                  102
2005-02-18 12:30:00+00:00  0.576            200                  102
2005-02-18 13:00:00+00:00  0.576            200                  102
2005-02-18 13:30:00+00:00  0.576            200                  102
2005-02-18 14:00:00+00:00  0.576            200                  102
2005-02-18 14:30:00+00:00  0.576            200                  102
2005-02-18 15:00:00+00:00  0.576            200                  102
2005-02-18 15:05:00+00:00  0.576            200                  102
2005-02-18 15:30:00+00:00  0.576            200                  102
2005-02-18 16:00:00+00:00  0.576            200                  102
2005-02-18 16:30:00+00:00  0.576            200                  102
2005-02-18 17:00:00+00:00  0.576            200                  102
2005-02-18 17:30:00+00:00  0.576            200                  102
2005-02-18 18:00:00+00:00  0.576            200                  102
2005-02-18 18:05:00+00:00  0.576            200                  102
2005-02-18 18:30:00+00:00  0.576            200                  102
2005-02-18 19:00:00+00:00  0.576            200                  102
2005-02-18 19:30:00+00:00  0.576            200                  102
2005-02-18 20:00:00+00:00  0.576            200                  102
2005-02-18 20:30:00+00:00  0.576            200                  102
2005-02-18 21:00:00+00:00  0.576            200                  102
2005-02-18 21:05:00+00:00  0.576            200                  102
2005-02-18 21:30:00+00:00  0.576            200                  102
2005-02-18 22:00:00+00:00  0.576            200                  102
2005-02-18 22:30:00+00:00  0.576            200                  102
2005-02-18 23:00:00+00:00  0.576            200                  102
2005-02-18 23:30:00+00:00  0.576            200                  102
2005-02-19 12:00:00+00:00  0.575            200                  102

[25564 rows x 3 columns]

In [26]:
fs.get_by_filter('*')

[05BJ004.HG.datum.O(None),
 K-Greim-SG-cmd-2000-2004(None),
 inside/05BJ004.HG.nrt.O(None),
 inside/Copy-05BJ004.HG.nrt.O(None),
 inside/Copy-my_test(None),
 inside/my_test(None),
 my_new_path(None)]

### TimeSeries.write_data_frame()
This method allows to write back to the backend, the file in this case. It is strongly recommended to reuse a DataFrame coming from a read_data_frame for writing data, unless you are already familiar with the backend and the supported columns.

In [27]:
df = ts_new.read_data_frame(start='2005-01-01T00:00', end='2005-01-02T00:00')

In [28]:
df

                           value  value.quality  value.interpolation
timestamp
2005-01-01 12:00:00+00:00  0.282            200                  102
2005-01-01 12:15:00+00:00  0.279            200                  102
2005-01-01 12:30:00+00:00  0.283            200                  102
2005-01-01 13:00:00+00:00  0.286            200                  102
2005-01-01 13:30:00+00:00  0.288            200                  102
2005-01-01 14:00:00+00:00  0.291            200                  102
2005-01-01 14:20:00+00:00  0.293            200                  102
2005-01-01 14:30:00+00:00  0.293            200                  102
2005-01-01 15:00:00+00:00  0.293            200                  102
2005-01-01 15:05:00+00:00  0.294            200                  102
2005-01-01 15:30:00+00:00  0.295            200                  102
2005-01-01 15:35:00+00:00  0.296            200                  102
2005-01-01 16:00:00+00:00  0.296            200                  102
2005-01-01 16:30:00+00:00  0.294            200                  102
2005-01-01 17:00:00+00:00  0.295            200                  102
2005-01-01 17:30:00+00:00  0.295            200                  102
2005-01-01 18:00:00+00:00  0.296            200                  102
2005-01-01 18:10:00+00:00  0.297            200                  102
2005-01-01 18:30:00+00:00  0.297            200                  102
2005-01-01 19:00:00+00:00  0.297            200                  102
2005-01-01 19:30:00+00:00  0.297            200                  102
2005-01-01 20:00:00+00:00  0.293            200                  102
2005-01-01 20:30:00+00:00  0.293            200                  102
2005-01-01 20:55:00+00:00  0.290            200                  102
2005-01-01 21:00:00+00:00  0.290            200                  102
2005-01-01 21:05:00+00:00  0.289            200                  102
2005-01-01 21:30:00+00:00  0.288            200                  102
2005-01-01 22:00:00+00:00  0.285            200                  102
2005-01-01 22:30:00+00:00  0.283            200                  102
2005-01-01 23:00:00+00:00  0.281            200                  102
2005-01-01 23:30:00+00:00  0.281            200                  102

In [29]:
df['value'] = df['value'] * 10

In [30]:
ts_new.write_data_frame(df)

In [31]:
ts_new.read_data_frame(start='2005-01-01T00:00', end='2005-01-02T00:00')

                           value  value.quality  value.interpolation
timestamp
2005-01-01 12:00:00+00:00   2.82            200                  102
2005-01-01 12:15:00+00:00   2.79            200                  102
2005-01-01 12:30:00+00:00   2.83            200                  102
2005-01-01 13:00:00+00:00   2.86            200                  102
2005-01-01 13:30:00+00:00   2.88            200                  102
2005-01-01 14:00:00+00:00   2.91            200                  102
2005-01-01 14:20:00+00:00   2.93            200                  102
2005-01-01 14:30:00+00:00   2.93            200                  102
2005-01-01 15:00:00+00:00   2.93            200                  102
2005-01-01 15:05:00+00:00   2.94            200                  102
2005-01-01 15:30:00+00:00   2.95            200                  102
2005-01-01 15:35:00+00:00   2.96            200                  102
2005-01-01 16:00:00+00:00   2.96            200                  102
2005-01-01 16:30:00+00:00   2.94            200                  102
2005-01-01 17:00:00+00:00   2.95            200                  102
2005-01-01 17:30:00+00:00   2.95            200                  102
2005-01-01 18:00:00+00:00   2.96            200                  102
2005-01-01 18:10:00+00:00   2.97            200                  102
2005-01-01 18:30:00+00:00   2.97            200                  102
2005-01-01 19:00:00+00:00   2.97            200                  102
2005-01-01 19:30:00+00:00   2.97            200                  102
2005-01-01 20:00:00+00:00   2.93            200                  102
2005-01-01 20:30:00+00:00   2.93            200                  102
2005-01-01 20:55:00+00:00   2.90            200                  102
2005-01-01 21:00:00+00:00   2.90            200                  102
2005-01-01 21:05:00+00:00   2.89            200                  102
2005-01-01 21:30:00+00:00   2.88            200                  102
2005-01-01 22:00:00+00:00   2.85            200                  102
2005-01-01 22:30:00+00:00   2.83            200                  102
2005-01-01 23:00:00+00:00   2.81            200                  102
2005-01-01 23:30:00+00:00   2.81            200                  102

### General write_data_frame behaviour
This method also accepts the parameters **start** and **end**, apart from limiting the data to be written from the **data_frame** they also provide additional functionality.  
In case either **start** or **end** cover datetimes not included in the **data_frame**, all the data between **start** and the first datetime in **data_frame** and all the data between the last datetime in **data_frame** and **end** will be deleted. This allow for example deleting all data between **start** and **end** if you pass an empty DataFrame.

In [32]:
# Modify the day 2005-01-01T00:00 and delete the rest of the data
df['value'] = 3
ts_new.write_data_frame(df, start=ts_new.coverage_from, end=ts_new.coverage_until)
with open('testdata/inside/my_test.zrx', 'r') as f:
    print(f.read())

#RINVAL-777|*|RINVAL-777|*|TSPATHinside/my_test
#LAYOUT(timestamp,value,status,interpolation_type)|*|
20050101120000 3.0 200 102
20050101121500 3.0 200 102
20050101123000 3.0 200 102
20050101130000 3.0 200 102
20050101133000 3.0 200 102
20050101140000 3.0 200 102
20050101142000 3.0 200 102
20050101143000 3.0 200 102
20050101150000 3.0 200 102
20050101150500 3.0 200 102
20050101153000 3.0 200 102
20050101153500 3.0 200 102
20050101160000 3.0 200 102
20050101163000 3.0 200 102
20050101170000 3.0 200 102
20050101173000 3.0 200 102
20050101180000 3.0 200 102
20050101181000 3.0 200 102
20050101183000 3.0 200 102
20050101190000 3.0 200 102
20050101193000 3.0 200 102
20050101200000 3.0 200 102
20050101203000 3.0 200 102
20050101205500 3.0 200 102
20050101210000 3.0 200 102
20050101210500 3.0 200 102
20050101213000 3.0 200 102
20050101220000 3.0 200 102
20050101223000 3.0 200 102
20050101230000 3.0 200 102
20050101233000 3.0 200 102

In [33]:
# Delete all the data
ts_new.write_data_frame(pd.DataFrame(), start=ts_new.coverage_from, end=ts_new.coverage_until)
with open('testdata/inside/my_test.zrx', 'r') as f:
    print(f.read())

#RINVAL-777|*|RINVAL-777|*|TSPATHinside/my_test
#LAYOUT(timestamp,value,status,interpolation_type)|*|

In [34]:
# Restore data as it was
ts_new.write_data_frame(ts.read_data_frame())

# TimeSeriesStoreDecorators
This are are TimeSeriesStore decorators which allow to add additional functionality to your TimeSeriesStore

In [35]:
from kisters.water.time_series.store_decorators import AddMetadataStore, CacheStore

## AddMetadataStore
This allows you to enrich your time series with metadata defined from a json file, mainly for test purposes.

In [36]:
from kisters.water.time_series.store_decorators import AddMetadataStore

In [37]:
fs = AddMetadataStore(FileStore('testdata', ZRXPFormat()), {'inside/my_test': {'attr1': 123, 'attr2': 'test-attr'}})

In [38]:
fs.get_by_path('inside/my_test').metadata

{'attr1': 123,
 'attr2': 'test-attr',
 'LAYOUT': '(timestamp,value,status,interpolation_type)',
 'RINVAL': '-777',
 'TSPATH': 'inside/my_test',
 'ZRX': {'data_offset': '104',
  'file': 'C:\\Users\\amorales\\workspace\\water-python\\time_series\\kisters.water.time_series\\examples\\testdata\\inside\\my_test.zrx',
  'invalid': -777.0,
  'nrows': '25566',
  'timezone': 'UTC'},
 'columns': ['timestamp', 'value', 'value.quality', 'value.interpolation'],
 'invalidValue': '-777',
 'name': 'my_test',
 'shortName': 'my_test',
 'tsPath': 'inside/my_test',
 'dataCoverageFrom': Timestamp('1999-10-31 00:00:00+0000', tz='UTC'),
 'dataCoverageUntil': Timestamp('2005-02-19 12:00:00+0000', tz='UTC'),
 'id': None}

## CacheStore
The CacheStore provides a basic LRU cache over the TimeSeries retrieval. Moreover TimeSeries retrieved this way cache in memory all the modifications made over them and later you can propagate this changes using the commit_changes method.

In [39]:
from kisters.water.time_series.store_decorators import CacheStore

In [40]:
cache = CacheStore(fs)

In [41]:
%time cache.get_by_filter('*')

Wall time: 31 ms

[05BJ004.HG.datum.O(None),
 K-Greim-SG-cmd-2000-2004(None),
 inside/05BJ004.HG.nrt.O(None),
 inside/Copy-05BJ004.HG.nrt.O(None),
 inside/Copy-my_test(None),
 inside/my_test(None),
 my_new_path(None)]

In [42]:
%time cache.get_by_filter('*')

Wall time: 0 ns

[05BJ004.HG.datum.O(None),
 K-Greim-SG-cmd-2000-2004(None),
 inside/05BJ004.HG.nrt.O(None),
 inside/Copy-05BJ004.HG.nrt.O(None),
 inside/Copy-my_test(None),
 inside/my_test(None),
 my_new_path(None)]

In [43]:
ts = cache.get_by_path('inside/my_test')

In [44]:
%time ts.read_data_frame()

Wall time: 115 ms

                           value  value.quality  value.interpolation
timestamp
1999-10-31 00:00:00+00:00  0.259            200                  102
1999-10-31 01:00:00+00:00  0.259            200                  102
1999-10-31 02:00:00+00:00  0.259            200                  102
1999-10-31 03:00:00+00:00  0.259            200                  102
1999-10-31 04:00:00+00:00  0.259            200                  102
1999-10-31 05:00:00+00:00  0.259            200                  102
1999-10-31 06:00:00+00:00  0.259            200                  102
1999-10-31 07:00:00+00:00  0.259            200                  102
1999-10-31 08:00:00+00:00  0.259            200                  102
1999-10-31 09:00:00+00:00  0.259            200                  102
1999-10-31 10:00:00+00:00  0.259            200                  102
1999-10-31 11:00:00+00:00  0.261            200                  102
1999-11-01 12:00:00+00:00  0.265            200                  102
1999-11-01 13:00:00+00:00  0.267            200                  102
1999-11-01 14:00:00+00:00  0.267            200                  102
1999-11-01 15:00:00+00:00  0.267            200                  102
1999-11-01 16:00:00+00:00  0.267            200                  102
1999-11-01 17:00:00+00:00  0.267            200                  102
1999-11-01 18:00:00+00:00  0.267            200                  102
1999-11-01 19:00:00+00:00  0.267            200                  102
1999-11-01 20:00:00+00:00  0.267            200                  102
1999-11-01 21:00:00+00:00  0.267            200                  102
1999-11-01 22:00:00+00:00  0.265            200                  102
1999-11-01 23:00:00+00:00  0.265            200                  102
1999-11-02 12:00:00+00:00  0.255            200                  102
1999-11-02 13:00:00+00:00  0.255            200                  102
1999-11-02 14:00:00+00:00  0.255            200                  102
1999-11-02 15:00:00+00:00  0.255            200                  102
1999-11-02 16:00:00+00:00  0.255            200                  102
1999-11-02 17:00:00+00:00  0.255            200                  102
...                          ...            ...                  ...
2005-02-17 23:30:00+00:00  0.576            200                  102
2005-02-18 12:00:00+00:00  0.576            200                  102
2005-02-18 12:05:00+00:00  0.576            200                  102
2005-02-18 12:30:00+00:00  0.576            200                  102
2005-02-18 13:00:00+00:00  0.576            200                  102
2005-02-18 13:30:00+00:00  0.576            200                  102
2005-02-18 14:00:00+00:00  0.576            200                  102
2005-02-18 14:30:00+00:00  0.576            200                  102
2005-02-18 15:00:00+00:00  0.576            200                  102
2005-02-18 15:05:00+00:00  0.576            200                  102
2005-02-18 15:30:00+00:00  0.576            200                  102
2005-02-18 16:00:00+00:00  0.576            200                  102
2005-02-18 16:30:00+00:00  0.576            200                  102
2005-02-18 17:00:00+00:00  0.576            200                  102
2005-02-18 17:30:00+00:00  0.576            200                  102
2005-02-18 18:00:00+00:00  0.576            200                  102
2005-02-18 18:05:00+00:00  0.576            200                  102
2005-02-18 18:30:00+00:00  0.576            200                  102
2005-02-18 19:00:00+00:00  0.576            200                  102
2005-02-18 19:30:00+00:00  0.576            200                  102
2005-02-18 20:00:00+00:00  0.576            200                  102
2005-02-18 20:30:00+00:00  0.576            200                  102
2005-02-18 21:00:00+00:00  0.576            200                  102
2005-02-18 21:05:00+00:00  0.576            200                  102
2005-02-18 21:30:00+00:00  0.576            200                  102
2005-02-18 22:00:00+00:00  0.576            200                  102
2005-02-18 22:30:00+00:00  0.576            200                  102
2005-02-18 23:00:00+00:00  0.576            200                  102
2005-02-18 23:30:00+00:00  0.576            200                  102
2005-02-19 12:00:00+00:00  0.575            200                  102

[25564 rows x 3 columns]

In [45]:
%time ts.read_data_frame()

Wall time: 4 ms

                           value  value.quality  value.interpolation
timestamp
1999-10-31 00:00:00+00:00  0.259            200                  102
1999-10-31 01:00:00+00:00  0.259            200                  102
1999-10-31 02:00:00+00:00  0.259            200                  102
1999-10-31 03:00:00+00:00  0.259            200                  102
1999-10-31 04:00:00+00:00  0.259            200                  102
1999-10-31 05:00:00+00:00  0.259            200                  102
1999-10-31 06:00:00+00:00  0.259            200                  102
1999-10-31 07:00:00+00:00  0.259            200                  102
1999-10-31 08:00:00+00:00  0.259            200                  102
1999-10-31 09:00:00+00:00  0.259            200                  102
1999-10-31 10:00:00+00:00  0.259            200                  102
1999-10-31 11:00:00+00:00  0.261            200                  102
1999-11-01 12:00:00+00:00  0.265            200                  102
1999-11-01 13:00:00+00:00  0.267            200                  102
1999-11-01 14:00:00+00:00  0.267            200                  102
1999-11-01 15:00:00+00:00  0.267            200                  102
1999-11-01 16:00:00+00:00  0.267            200                  102
1999-11-01 17:00:00+00:00  0.267            200                  102
1999-11-01 18:00:00+00:00  0.267            200                  102
1999-11-01 19:00:00+00:00  0.267            200                  102
1999-11-01 20:00:00+00:00  0.267            200                  102
1999-11-01 21:00:00+00:00  0.267            200                  102
1999-11-01 22:00:00+00:00  0.265            200                  102
1999-11-01 23:00:00+00:00  0.265            200                  102
1999-11-02 12:00:00+00:00  0.255            200                  102
1999-11-02 13:00:00+00:00  0.255            200                  102
1999-11-02 14:00:00+00:00  0.255            200                  102
1999-11-02 15:00:00+00:00  0.255            200                  102
1999-11-02 16:00:00+00:00  0.255            200                  102
1999-11-02 17:00:00+00:00  0.255            200                  102
...                          ...            ...                  ...
2005-02-17 23:30:00+00:00  0.576            200                  102
2005-02-18 12:00:00+00:00  0.576            200                  102
2005-02-18 12:05:00+00:00  0.576            200                  102
2005-02-18 12:30:00+00:00  0.576            200                  102
2005-02-18 13:00:00+00:00  0.576            200                  102
2005-02-18 13:30:00+00:00  0.576            200                  102
2005-02-18 14:00:00+00:00  0.576            200                  102
2005-02-18 14:30:00+00:00  0.576            200                  102
2005-02-18 15:00:00+00:00  0.576            200                  102
2005-02-18 15:05:00+00:00  0.576            200                  102
2005-02-18 15:30:00+00:00  0.576            200                  102
2005-02-18 16:00:00+00:00  0.576            200                  102
2005-02-18 16:30:00+00:00  0.576            200                  102
2005-02-18 17:00:00+00:00  0.576            200                  102
2005-02-18 17:30:00+00:00  0.576            200                  102
2005-02-18 18:00:00+00:00  0.576            200                  102
2005-02-18 18:05:00+00:00  0.576            200                  102
2005-02-18 18:30:00+00:00  0.576            200                  102
2005-02-18 19:00:00+00:00  0.576            200                  102
2005-02-18 19:30:00+00:00  0.576            200                  102
2005-02-18 20:00:00+00:00  0.576            200                  102
2005-02-18 20:30:00+00:00  0.576            200                  102
2005-02-18 21:00:00+00:00  0.576            200                  102
2005-02-18 21:05:00+00:00  0.576            200                  102
2005-02-18 21:30:00+00:00  0.576            200                  102
2005-02-18 22:00:00+00:00  0.576            200                  102
2005-02-18 22:30:00+00:00  0.576            200                  102
2005-02-18 23:00:00+00:00  0.576            200                  102
2005-02-18 23:30:00+00:00  0.576            200                  102
2005-02-19 12:00:00+00:00  0.575            200                  102

[25564 rows x 3 columns]

In [46]:
df = ts.read_data_frame()
df['value'] = 3
ts.write_data_frame(df)

In [47]:
ts.read_data_frame()

                           value  value.interpolation  value.quality
timestamp
1999-10-31 00:00:00+00:00    3.0                  102            200
1999-10-31 01:00:00+00:00    3.0                  102            200
1999-10-31 02:00:00+00:00    3.0                  102            200
1999-10-31 03:00:00+00:00    3.0                  102            200
1999-10-31 04:00:00+00:00    3.0                  102            200
1999-10-31 05:00:00+00:00    3.0                  102            200
1999-10-31 06:00:00+00:00    3.0                  102            200
1999-10-31 07:00:00+00:00    3.0                  102            200
1999-10-31 08:00:00+00:00    3.0                  102            200
1999-10-31 09:00:00+00:00    3.0                  102            200
1999-10-31 10:00:00+00:00    3.0                  102            200
1999-10-31 11:00:00+00:00    3.0                  102            200
1999-11-01 12:00:00+00:00    3.0                  102            200
1999-11-01 13:00:00+00:00    3.0                  102            200
1999-11-01 14:00:00+00:00    3.0                  102            200
1999-11-01 15:00:00+00:00    3.0                  102            200
1999-11-01 16:00:00+00:00    3.0                  102            200
1999-11-01 17:00:00+00:00    3.0                  102            200
1999-11-01 18:00:00+00:00    3.0                  102            200
1999-11-01 19:00:00+00:00    3.0                  102            200
1999-11-01 20:00:00+00:00    3.0                  102            200
1999-11-01 21:00:00+00:00    3.0                  102            200
1999-11-01 22:00:00+00:00    3.0                  102            200
1999-11-01 23:00:00+00:00    3.0                  102            200
1999-11-02 12:00:00+00:00    3.0                  102            200
1999-11-02 13:00:00+00:00    3.0                  102            200
1999-11-02 14:00:00+00:00    3.0                  102            200
1999-11-02 15:00:00+00:00    3.0                  102            200
1999-11-02 16:00:00+00:00    3.0                  102            200
1999-11-02 17:00:00+00:00    3.0                  102            200
...                          ...                  ...            ...
2005-02-17 23:30:00+00:00    3.0                  102            200
2005-02-18 12:00:00+00:00    3.0                  102            200
2005-02-18 12:05:00+00:00    3.0                  102            200
2005-02-18 12:30:00+00:00    3.0                  102            200
2005-02-18 13:00:00+00:00    3.0                  102            200
2005-02-18 13:30:00+00:00    3.0                  102            200
2005-02-18 14:00:00+00:00    3.0                  102            200
2005-02-18 14:30:00+00:00    3.0                  102            200
2005-02-18 15:00:00+00:00    3.0                  102            200
2005-02-18 15:05:00+00:00    3.0                  102            200
2005-02-18 15:30:00+00:00    3.0                  102            200
2005-02-18 16:00:00+00:00    3.0                  102            200
2005-02-18 16:30:00+00:00    3.0                  102            200
2005-02-18 17:00:00+00:00    3.0                  102            200
2005-02-18 17:30:00+00:00    3.0                  102            200
2005-02-18 18:00:00+00:00    3.0                  102            200
2005-02-18 18:05:00+00:00    3.0                  102            200
2005-02-18 18:30:00+00:00    3.0                  102            200
2005-02-18 19:00:00+00:00    3.0                  102            200
2005-02-18 19:30:00+00:00    3.0                  102            200
2005-02-18 20:00:00+00:00    3.0                  102            200
2005-02-18 20:30:00+00:00    3.0                  102            200
2005-02-18 21:00:00+00:00    3.0                  102            200
2005-02-18 21:05:00+00:00    3.0                  102            200
2005-02-18 21:30:00+00:00    3.0                  102            200
2005-02-18 22:00:00+00:00    3.0                  102            200
2005-02-18 22:30:00+00:00    3.0                  102            200
2005-02-18 23:00:00+00:00    3.0                  102            200
2005-02-18 23:30:00+00:00    3.0                  102            200
2005-02-19 12:00:00+00:00    3.0                  102            200

[25564 rows x 3 columns]

In [48]:
fs.get_by_path('inside/my_test').read_data_frame()

                           value  value.quality  value.interpolation
timestamp
1999-10-31 00:00:00+00:00  0.259            200                  102
1999-10-31 01:00:00+00:00  0.259            200                  102
1999-10-31 02:00:00+00:00  0.259            200                  102
1999-10-31 03:00:00+00:00  0.259            200                  102
1999-10-31 04:00:00+00:00  0.259            200                  102
1999-10-31 05:00:00+00:00  0.259            200                  102
1999-10-31 06:00:00+00:00  0.259            200                  102
1999-10-31 07:00:00+00:00  0.259            200                  102
1999-10-31 08:00:00+00:00  0.259            200                  102
1999-10-31 09:00:00+00:00  0.259            200                  102
1999-10-31 10:00:00+00:00  0.259            200                  102
1999-10-31 11:00:00+00:00  0.261            200                  102
1999-11-01 12:00:00+00:00  0.265            200                  102
1999-11-01 13:00:00+00:00  0.267            200                  102
1999-11-01 14:00:00+00:00  0.267            200                  102
1999-11-01 15:00:00+00:00  0.267            200                  102
1999-11-01 16:00:00+00:00  0.267            200                  102
1999-11-01 17:00:00+00:00  0.267            200                  102
1999-11-01 18:00:00+00:00  0.267            200                  102
1999-11-01 19:00:00+00:00  0.267            200                  102
1999-11-01 20:00:00+00:00  0.267            200                  102
1999-11-01 21:00:00+00:00  0.267            200                  102
1999-11-01 22:00:00+00:00  0.265            200                  102
1999-11-01 23:00:00+00:00  0.265            200                  102
1999-11-02 12:00:00+00:00  0.255            200                  102
1999-11-02 13:00:00+00:00  0.255            200                  102
1999-11-02 14:00:00+00:00  0.255            200                  102
1999-11-02 15:00:00+00:00  0.255            200                  102
1999-11-02 16:00:00+00:00  0.255            200                  102
1999-11-02 17:00:00+00:00  0.255            200                  102
...                          ...            ...                  ...
2005-02-17 23:30:00+00:00  0.576            200                  102
2005-02-18 12:00:00+00:00  0.576            200                  102
2005-02-18 12:05:00+00:00  0.576            200                  102
2005-02-18 12:30:00+00:00  0.576            200                  102
2005-02-18 13:00:00+00:00  0.576            200                  102
2005-02-18 13:30:00+00:00  0.576            200                  102
2005-02-18 14:00:00+00:00  0.576            200                  102
2005-02-18 14:30:00+00:00  0.576            200                  102
2005-02-18 15:00:00+00:00  0.576            200                  102
2005-02-18 15:05:00+00:00  0.576            200                  102
2005-02-18 15:30:00+00:00  0.576            200                  102
2005-02-18 16:00:00+00:00  0.576            200                  102
2005-02-18 16:30:00+00:00  0.576            200                  102
2005-02-18 17:00:00+00:00  0.576            200                  102
2005-02-18 17:30:00+00:00  0.576            200                  102
2005-02-18 18:00:00+00:00  0.576            200                  102
2005-02-18 18:05:00+00:00  0.576            200                  102
2005-02-18 18:30:00+00:00  0.576            200                  102
2005-02-18 19:00:00+00:00  0.576            200                  102
2005-02-18 19:30:00+00:00  0.576            200                  102
2005-02-18 20:00:00+00:00  0.576            200                  102
2005-02-18 20:30:00+00:00  0.576            200                  102
2005-02-18 21:00:00+00:00  0.576            200                  102
2005-02-18 21:05:00+00:00  0.576            200                  102
2005-02-18 21:30:00+00:00  0.576            200                  102
2005-02-18 22:00:00+00:00  0.576            200                  102
2005-02-18 22:30:00+00:00  0.576            200                  102
2005-02-18 23:00:00+00:00  0.576            200                  102
2005-02-18 23:30:00+00:00  0.576            200                  102
2005-02-19 12:00:00+00:00  0.575            200                  102

[25564 rows x 3 columns]

In [49]:
ts.commit_changes()

In [50]:
fs.get_by_path('inside/my_test').read_data_frame()

                           value  value.quality  value.interpolation
timestamp
1999-10-31 00:00:00+00:00    3.0            200                  102
1999-10-31 01:00:00+00:00    3.0            200                  102
1999-10-31 02:00:00+00:00    3.0            200                  102
1999-10-31 03:00:00+00:00    3.0            200                  102
1999-10-31 04:00:00+00:00    3.0            200                  102
1999-10-31 05:00:00+00:00    3.0            200                  102
1999-10-31 06:00:00+00:00    3.0            200                  102
1999-10-31 07:00:00+00:00    3.0            200                  102
1999-10-31 08:00:00+00:00    3.0            200                  102
1999-10-31 09:00:00+00:00    3.0            200                  102
1999-10-31 10:00:00+00:00    3.0            200                  102
1999-10-31 11:00:00+00:00    3.0            200                  102
1999-11-01 12:00:00+00:00    3.0            200                  102
1999-11-01 13:00:00+00:00    3.0            200                  102
1999-11-01 14:00:00+00:00    3.0            200                  102
1999-11-01 15:00:00+00:00    3.0            200                  102
1999-11-01 16:00:00+00:00    3.0            200                  102
1999-11-01 17:00:00+00:00    3.0            200                  102
1999-11-01 18:00:00+00:00    3.0            200                  102
1999-11-01 19:00:00+00:00    3.0            200                  102
1999-11-01 20:00:00+00:00    3.0            200                  102
1999-11-01 21:00:00+00:00    3.0            200                  102
1999-11-01 22:00:00+00:00    3.0            200                  102
1999-11-01 23:00:00+00:00    3.0            200                  102
1999-11-02 12:00:00+00:00    3.0            200                  102
1999-11-02 13:00:00+00:00    3.0            200                  102
1999-11-02 14:00:00+00:00    3.0            200                  102
1999-11-02 15:00:00+00:00    3.0            200                  102
1999-11-02 16:00:00+00:00    3.0            200                  102
1999-11-02 17:00:00+00:00    3.0            200                  102
...                          ...            ...                  ...
2005-02-17 23:30:00+00:00    3.0            200                  102
2005-02-18 12:00:00+00:00    3.0            200                  102
2005-02-18 12:05:00+00:00    3.0            200                  102
2005-02-18 12:30:00+00:00    3.0            200                  102
2005-02-18 13:00:00+00:00    3.0            200                  102
2005-02-18 13:30:00+00:00    3.0            200                  102
2005-02-18 14:00:00+00:00    3.0            200                  102
2005-02-18 14:30:00+00:00    3.0            200                  102
2005-02-18 15:00:00+00:00    3.0            200                  102
2005-02-18 15:05:00+00:00    3.0            200                  102
2005-02-18 15:30:00+00:00    3.0            200                  102
2005-02-18 16:00:00+00:00    3.0            200                  102
2005-02-18 16:30:00+00:00    3.0            200                  102
2005-02-18 17:00:00+00:00    3.0            200                  102
2005-02-18 17:30:00+00:00    3.0            200                  102
2005-02-18 18:00:00+00:00    3.0            200                  102
2005-02-18 18:05:00+00:00    3.0            200                  102
2005-02-18 18:30:00+00:00    3.0            200                  102
2005-02-18 19:00:00+00:00    3.0            200                  102
2005-02-18 19:30:00+00:00    3.0            200                  102
2005-02-18 20:00:00+00:00    3.0            200                  102
2005-02-18 20:30:00+00:00    3.0            200                  102
2005-02-18 21:00:00+00:00    3.0            200                  102
2005-02-18 21:05:00+00:00    3.0            200                  102
2005-02-18 21:30:00+00:00    3.0            200                  102
2005-02-18 22:00:00+00:00    3.0            200                  102
2005-02-18 22:30:00+00:00    3.0            200                  102
2005-02-18 23:00:00+00:00    3.0            200                  102
2005-02-18 23:30:00+00:00    3.0            200                  102
2005-02-19 12:00:00+00:00    3.0            200                  102

[25564 rows x 3 columns]

# Writing data from anywhere
This specific use case is for writing data from a custom DataFrame to a specific file format, mainly useful for generating files meant for importing.
## Memory TimeSeries
This its the simplest time series object, it just needs a pandas.DataFrame with DatetimeIndex and a value column.

In [51]:
from kisters.water.time_series.file_io import MemoryTimeSeries
import pandas as pd
import numpy as np

In [52]:
df = df = pd.DataFrame({'value': 5 * np.random.random_sample((24))}, index=pd.date_range('2010-01-01T00:00', '2010-01-01T23:00', freq='H')) 
ts = MemoryTimeSeries(metadata={"tsPath": "my/custom/ts",
                               "id": 1234,
                               "name": "My custom time series",
                               "shortName": "ts"}, data=df)

## Format writers
Use them if you don't want to use the FileStore at all and you only want to export your TimeSeries in a specific file format.

In [53]:
from kisters.water.time_series.file_io import ZRXPFormat, CSVFormat, PickleFormat

In [54]:
pickle_w = PickleFormat().writer
csv_w = CSVFormat().writer
zrxp_w = ZRXPFormat().writer

In [55]:
pickle_w.write(data_list=[ts], file='my_ts.pickle')
zrxp_w.write(data_list=[ts], file='my_ts.zrx')
csv_w.write(data_list=[ts], file='my_ts.csv')

In [56]:
with open('my_ts.pickle', 'rb') as f:
    print(f.read())

b"\x80\x04\x95\xd0\x04\x00\x00\x00\x00\x00\x00\x8c\x11pandas.core.frame\x94\x8c\tDataFrame\x94\x93\x94)\x81\x94}\x94(\x8c\x05_data\x94\x8c\x15pandas.core.internals\x94\x8c\x0cBlockManager\x94\x93\x94)\x81\x94(]\x94(\x8c\x18pandas.core.indexes.base\x94\x8c\n_new_Index\x94\x93\x94h\x0b\x8c\x05Index\x94\x93\x94}\x94(\x8c\x04data\x94\x8c\x1cnumpy.core._multiarray_umath\x94\x8c\x0c_reconstruct\x94\x93\x94\x8c\x05numpy\x94\x8c\x07ndarray\x94\x93\x94K\x00\x85\x94C\x01b\x94\x87\x94R\x94(K\x01K\x01\x85\x94h\x15\x8c\x05dtype\x94\x93\x94\x8c\x02O8\x94K\x00K\x01\x87\x94R\x94(K\x03\x8c\x01|\x94NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK?t\x94b\x89]\x94\x8c\x05value\x94at\x94b\x8c\x04name\x94Nu\x86\x94R\x94\x8c\x1dpandas.core.indexes.datetimes\x94\x8c\x12_new_DatetimeIndex\x94\x93\x94h*\x8c\rDatetimeIndex\x94\x93\x94}\x94(h\x11h\x14h\x17K\x00\x85\x94h\x19\x87\x94R\x94(K\x01K\x18\x85\x94h\x1e\x8c\x02M8\x94K\x00K\x01\x87\x94R\x94(K\x04\x8c\x01<\x94NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00}\x94(C\x02ns\x94K\x01K\x01K\x01t\x94\x86\x94t\x94b\x89C\xc0\x00\x00\x8e\xce\xcc\x9a\x84\x11\x00\xa0F\xff\x12\x9e\x84\x11\x00@\xff/Y\xa1\x84\x11\x00\xe0\xb7`\x9f\xa4\x84\x11\x00\x80p\x91\xe5\xa7\x84\x11\x00 )\xc2+\xab\x84\x11\x00\xc0\xe1\xf2q\xae\x84\x11\x00`\x9a#\xb8\xb1\x84\x11\x00\x00ST\xfe\xb4\x84\x11\x00\xa0\x0b\x85D\xb8\x84\x11\x00@\xc4\xb5\x8a\xbb\x84\x11\x00\xe0|\xe6\xd0\xbe\x84\x11\x00\x805\x17\x17\xc2\x84\x11\x00 \xeeG]\xc5\x84\x11\x00\xc0\xa6x\xa3\xc8\x84\x11\x00`_\xa9\xe9\xcb\x84\x11\x00\x00\x18\xda/\xcf\x84\x11\x00\xa0\xd0\nv\xd2\x84\x11\x00@\x89;\xbc\xd5\x84\x11\x00\xe0Al\x02\xd9\x84\x11\x00\x80\xfa\x9cH\xdc\x84\x11\x00 \xb3\xcd\x8e\xdf\x84\x11\x00\xc0k\xfe\xd4\xe2\x84\x11\x00`$/\x1b\xe6\x84\x11\x94t\x94bh'N\x8c\x04freq\x94\x8c\x16pandas.tseries.offsets\x94\x8c\x04Hour\x94\x93\x94)\x81\x94}\x94(\x8c\x01n\x94K\x01\x8c\tnormalize\x94\x89ub\x8c\x02tz\x94\x8c\x04pytz\x94\x8c\x04_UTC\x94\x93\x94)R\x94u\x86\x94R\x94e]\x94h\x14h\x17K\x00\x85\x94h\x19\x87\x94R\x94(K\x01K\x01K\x18\x86\x94h\x1e\x8c\x02f8\x94K\x00K\x01\x87\x94R\x94(K\x03h7NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00t\x94b\x89C\xc0x\x06K\xb9\x83\xba\x07@\x1200gp\xa6\x00@\x08\xe8\xd8^\xe1i\x0e@_cP\x94\xa00\x0f@\xe87;\xa5\xff\xb1\x12@\x99\xe9u\xd0\r'\x06@\x90o\x8dj\xb4*\xef?0\xa8\x02]\x8b~\xcd?d\xc6\x03\xf5\x86\xae\x07@\x14\xad$\xedC\xc3\xc6?\x0c/`\x12k\x12\x05@zf\xc4\xb3\x17\x16\xfc?NM\xf8\x03R\xca\xf9?\xbb\xfb\xcd\xd9\x8d\x81\x11@\x03\xcca\xcf\xc3@\x0f@\xea\xcc\x19\x89\xc9\xc9\x05@:\xf8o\xa1\x95\x96\x06@\x8eSM\xd4\xc0\xac\x0f@\xce\xbb\n\x1b\xd7\xb4\x13@8BUd\xa4\x8b\x0b@\x02\xa8\xb8\xad\xb5\xb2\xfb?\xec\xc6O\xa5#\xf7\x0c@l.\xeeA#d\x07@\nH\x9b+8\xf5\x01@\x94t\x94ba]\x94h\rh\x0f}\x94(h\x11h\x14h\x17K\x00\x85\x94h\x19\x87\x94R\x94(K\x01K\x01\x85\x94h!\x89]\x94h%at\x94bh'Nu\x86\x94R\x94a}\x94\x8c\x060.14.1\x94}\x94(\x8c\x04axes\x94h\n\x8c\x06blocks\x94]\x94}\x94(\x8c\x06values\x94hQ\x8c\x08mgr_locs\x94\x8c\x08builtins\x94\x8c\x05slice\x94\x93\x94K\x00K\x01K\x01\x87\x94R\x94uaust\x94b\x8c\x04_typ\x94\x8c\tdataframe\x94\x8c\t_metadata\x94]\x94ub."

In [57]:
with open('my_ts.csv', 'r') as f:
    print(f.read())

timestamp,value
2010-01-01 00:00:00+00:00,2.9660715557118316
2010-01-01 01:00:00+00:00,2.0812690793591253
2010-01-01 02:00:00+00:00,3.801699391359765
2010-01-01 03:00:00+00:00,3.898743780806782
2010-01-01 04:00:00+00:00,4.673826772441295
2010-01-01 05:00:00+00:00,2.769069317434696
2010-01-01 06:00:00+00:00,0.9739629822829432
2010-01-01 07:00:00+00:00,0.2304243282463303
2010-01-01 08:00:00+00:00,2.960218347718909
2010-01-01 09:00:00+00:00,0.1778340251852134
2010-01-01 10:00:00+00:00,2.633993285713478
2010-01-01 11:00:00+00:00,1.7553936979442413
2010-01-01 12:00:00+00:00,1.6118946223330854
2010-01-01 13:00:00+00:00,4.37651768035624
2010-01-01 14:00:00+00:00,3.906623478099847
2010-01-01 15:00:00+00:00,2.723528929805629
2010-01-01 16:00:00+00:00,2.8235275852485104
2010-01-01 17:00:00+00:00,3.9593521677110806
2010-01-01 18:00:00+00:00,4.92660181286824
2010-01-01 19:00:00+00:00,3.4431846464651947
2010-01-01 20:00:00+00:00,1.7311302934635937
2010-01-01 21:00:00+00:00,3.6206734576197643
2010-01-01 22:00:00+00:00,2.9238953734218764
2010-01-01 23:00:00+00:00,2.244736042667687

In [58]:
with open('my_ts.zrx', 'r') as f:
    print(f.read())

#RINVAL-777|*|XVLID1234|*|TSPATHmy/custom/ts
#LAYOUT(timestamp,value)|*|
20100101000000 2.9660715557118316
20100101010000 2.0812690793591253
20100101020000 3.801699391359765
20100101030000 3.898743780806782
20100101040000 4.673826772441295
20100101050000 2.769069317434696
20100101060000 0.9739629822829432
20100101070000 0.2304243282463303
20100101080000 2.960218347718909
20100101090000 0.1778340251852134
20100101100000 2.633993285713478
20100101110000 1.7553936979442413
20100101120000 1.6118946223330854
20100101130000 4.37651768035624
20100101140000 3.906623478099847
20100101150000 2.723528929805629
20100101160000 2.8235275852485104
20100101170000 3.9593521677110806
20100101180000 4.92660181286824
20100101190000 3.4431846464651947
20100101200000 1.7311302934635937
20100101210000 3.6206734576197643
20100101220000 2.9238953734218764
20100101230000 2.244736042667687