### Disclaimer
Please note, the Vantage Functions via SQLAlchemy feature is a preview/beta code release with limited functionality (the “Code”). As such, you acknowledge that the Code is experimental in nature and that the Code is provided “AS IS” and may not be functional on any machine or in any environment. TERADATA DISCLAIMS ALL WARRANTIES RELATING TO THE CODE, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES AGAINST INFRINGEMENT OF THIRD-PARTY RIGHTS, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.

TERADATA SHALL NOT BE RESPONSIBLE OR LIABLE WITH RESPECT TO ANY SUBJECT MATTER OF THE CODE UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY 
    (A) FOR LOSS OR INACCURACY OF DATA OR COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY, OR 
    (B) FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO LOSS OF REVENUES AND LOSS OF PROFITS. TERADATA SHALL NOT BE RESPONSIBLE FOR ANY MATTER BEYOND ITS REASONABLE CONTROL.

Notwithstanding anything to the contrary: 
    (a) Teradata will have no obligation of any kind with respect to any Code-related comments, suggestions, design changes or improvements that you elect to provide to Teradata in either verbal or written form (collectively, “Feedback”), and 
    (b) Teradata and its affiliates are hereby free to use any ideas, concepts, know-how or techniques, in whole or in part, contained in Feedback: 
        (i) for any purpose whatsoever, including developing, manufacturing, and/or marketing products and/or services incorporating Feedback in whole or in part, and 
        (ii) without any restrictions or limitations, including requiring the payment of any license fees, royalties, or other consideration.

In [1]:
# In this notebook we shall cover examples for following Arithmetic Functions:
# SQL Documentation: https://docs.teradata.com/reader/756LNiPSFdY~4JcCCcR5Cw/c2fX4dzxCcDJFKqXbyQtTA
    # 1. abs
    # 2. case_n
    # 3. ceil/ceiling
    # 4. degrees
    # 5. radians
    # 6. exp
    # 7. floor
    # 8. ln
    # 9. log
    # 10. mod
    # 11. nullifzero 
    # 12. power
    # 13. random
    # 14. range_n
    # 15. round
    # 16. sign
    # 17. sqrt
    # 18. trunc
    # 19. width_bucket
    # Hyperbolic Functions:
        # 1. cosh
        # 2. acosh
        # 3. sinh
        # 4. asinh
        # 5. tanh
        # 6. atanh
    # Trigonometric Functions:
        # 1. sin
        # 2. asin
        # 3. cos
        # 4. acos
        # 5. tan
        # 6. atan
        # 7. atan2

In [2]:
# Get the connection to the Vantage using create_context()
from teradataml import *
import getpass
td_context = create_context(host=getpass.getpass("Hostname: "), username=getpass.getpass("Username: "), password=getpass.getpass("Password: "))
# Load the example dataset.
load_example_data("GLM", ["admissions_train"])

Hostname: ········
Username: ········
Password: ········
WARNING: Skipped loading table admissions_train since it already exists in the database.

In [3]:
# Create the DataFrame on 'admissions_train' table
admissions_train = DataFrame("admissions_train")
admissions_train

   masters   gpa     stats programming  admitted
id
5       no  3.44    Novice      Novice         0
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
40     yes  3.95    Novice    Beginner         0
22     yes  3.46    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
36      no  3.00  Advanced      Novice         0
15     yes  4.00  Advanced    Advanced         1
7      yes  2.33    Novice      Novice         1
17      no  3.83  Advanced    Advanced         1

In [4]:
def print_variables(df, columns):
    print("Equivalent SQL: {}".format(df.show_query()))
    print("\n")
    print(" ************************* DataFrame ********************* ")
    print(df)
    print("\n\n")
    print(" ************************* DataFrame.dtypes ********************* ")
    print(df.dtypes)
    print("\n\n")
    if isinstance(columns, str):
        columns = [columns]
    for col in columns:
        coltype = df.__getattr__(col).type
        if isinstance(coltype, sqlalchemy.sql.sqltypes.NullType):
            coltype = "NullType"
        print(" '{}' Column Type: {}".format(col, coltype))

## Using Arithmatic Functions in Teradata Vantage with the help SQLAlchemny

In [5]:
# Import func from SQLAlchemy to use the same for executing arithmetic functions
from sqlalchemy import func

In [6]:
# Before we move on with examples, one should read below just to understand how teradataml DataFrame and 
# it's columns are used to create a SQLAlchemy ClauseElement/Expression.

# Often in below examples one would see something like this: 'admissions_train.admitted.expression'
# Here in the above expression,
#    'admissions_train' is 'teradataml DataFrame'
#    'admitted' is 'column name' in teradataml DataFrame 'admissions_train'
#    Thus, 
#        'admissions_train.admitted' together forms a ColumnExpression.
#    expression allows us to use teradata ColumnExpression to be treated as SQLAlchemy Expression.
#    Thus,
#        'admissions_train.admitted.expression' gives us an expression that can be used with SQLAlchemy clauseElements.

### ABS function - Compute the absolute value of an argument.

In [7]:
# Function computes the absolute value of an argument.
# Syntax:
#         ABS(column_expression)

In [8]:
abs_func_ = func.abs(admissions_train.gpa.expression)
type(abs_func_)

sqlalchemy.sql.functions.Function

In [9]:
df = admissions_train.assign(abs_gpa_=abs_func_, abd_addmitted_=func.abs(admissions_train.admitted.expression))
print_variables(df, "abs_gpa_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, abs(admitted) AS abd_addmitted_, abs(gpa) AS abs_gpa_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  abd_addmitted_  abs_gpa_
id
15     yes  4.00  Advanced    Advanced         1               1      4.00
7      yes  2.33    Novice      Novice         1               1      2.33
22     yes  3.46    Novice    Beginner         0               0      3.46
17      no  3.83  Advanced    Advanced         1               1      3.83
13      no  4.00  Advanced      Novice         1               1      4.00
38     yes  2.65  Advanced    Beginner         1               1      2.65
26     yes  3.57  Advanced    Advanced         1               1      3.57
5       no  3.44    Novice      Novice         0               0      3.44
34     yes  3.85  Advanced    Beginner         0               0      3.85
40     yes  3.95    Novice    Beginner         0               0      3.95



 ************************* DataFrame.dtypes *********************
id                  int
masters             str
gpa               float
stats               str
programming         str
admitted            int
abd_addmitted_      int
abs_gpa_          float



 'abs_gpa_' Column Type: FLOAT

### CASE_N function

In [10]:
# Function evaluates a list of conditions and returns the position of the first condition that evaluates to TRUE, 
# provided that no prior condition in the list evaluates to UNKNOWN.
# Syntax:
#        TODO

In [11]:
### CASE_N function
case_n_func_ = func.case_N(admissions_train.stats.expression == 'Novice', admissions_train.stats.expression == 'Beginner')
type(case_n_func_)

sqlalchemy.sql.functions.Function

In [12]:
df = admissions_train.assign(case_n_func_=case_n_func_)
print_variables(df, "case_n_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, case_N(stats = 'Novice', stats = 'Beginner') AS case_n_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  case_n_func_
id
5       no  3.44    Novice      Novice         0           1.0
34     yes  3.85  Advanced    Beginner         0           NaN
13      no  4.00  Advanced      Novice         1           NaN
40     yes  3.95    Novice    Beginner         0           1.0
22     yes  3.46    Novice    Beginner         0           1.0
19     yes  1.98  Advanced    Advanced         0           NaN
36      no  3.00  Advanced      Novice         0           NaN
15     yes  4.00  Advanced    Advanced         1           NaN
7      yes  2.33    Novice      Novice         1           1.0
17      no  3.83  Advanced    Advanced         1           NaN



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
case_n_func_      int



 'case_n_func_' Column Type: INTEGER

### Ceiling or ceil function

In [13]:
# Function returns the smallest integer value that is not less than the input argument.
# Syntax:
#        ceiling(column_expression) OR
#        ceil(column_expression)

In [14]:
# Use case for Ceiling 
df = admissions_train.assign(ceil_func_ = func.ceiling(admissions_train.gpa.expression))
print_variables(df, "ceil_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ceiling(gpa) AS ceil_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  ceil_func_
id
22     yes  3.46    Novice    Beginner         0         4.0
36      no  3.00  Advanced      Novice         0         3.0
15     yes  4.00  Advanced    Advanced         1         4.0
38     yes  2.65  Advanced    Beginner         1         3.0
5       no  3.44    Novice      Novice         0         4.0
17      no  3.83  Advanced    Advanced         1         4.0
34     yes  3.85  Advanced    Beginner         0         4.0
13      no  4.00  Advanced      Novice         1         4.0
26     yes  3.57  Advanced    Advanced         1         4.0
19     yes  1.98  Advanced    Advanced         0         2.0



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
ceil_func_     float



 'ceil_func_' Column Type: FLOAT

In [15]:
# Use case for ceil
df = admissions_train.assign(ceil_func_ = func.ceil(admissions_train.gpa.expression))
print_variables(df, "ceil_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ceil(gpa) AS ceil_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  ceil_func_
id
5       no  3.44    Novice      Novice         0         4.0
34     yes  3.85  Advanced    Beginner         0         4.0
13      no  4.00  Advanced      Novice         1         4.0
40     yes  3.95    Novice    Beginner         0         4.0
22     yes  3.46    Novice    Beginner         0         4.0
19     yes  1.98  Advanced    Advanced         0         2.0
36      no  3.00  Advanced      Novice         0         3.0
15     yes  4.00  Advanced    Advanced         1         4.0
7      yes  2.33    Novice      Novice         1         3.0
17      no  3.83  Advanced    Advanced         1         4.0



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
ceil_func_     float



 'ceil_func_' Column Type: FLOAT

### Degrees & Radians functions

In [16]:
# DEGREES takes a value specified in radians and converts it to degrees.
# Syntax:
#        degrees(column_expression/constant)

In [17]:
# Use case 1 for Degrees - Convert 1 radians to degrees
df = admissions_train.assign(degrees_const_func_ = func.degrees(1))
print_variables(df, "degrees_const_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, degrees(1) AS degrees_const_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  degrees_const_func_
id
15     yes  4.00  Advanced    Advanced         1             57.29578
7      yes  2.33    Novice      Novice         1             57.29578
22     yes  3.46    Novice    Beginner         0             57.29578
17      no  3.83  Advanced    Advanced         1             57.29578
13      no  4.00  Advanced      Novice         1             57.29578
38     yes  2.65  Advanced    Beginner         1             57.29578
26     yes  3.57  Advanced    Advanced         1             57.29578
5       no  3.44    Novice      Novice         0             57.29578
34     yes  3.85  Advanced    Beginner         0             57.29578
40     yes  3.95    Novice    Beginner         0             57.29578



 ************************* DataFrame.dtypes *********************
id                       int
masters                  str
gpa                    float
stats                    str
programming              str
admitted                 int
degrees_const_func_    float



 'degrees_const_func_' Column Type: FLOAT

In [18]:
# Use case 2 for Degrees - Convert values in admitted assuming they are in radians to degrees
df = admissions_train.assign(degrees_admitted_func_ = func.degrees(admissions_train.admitted.expression))
print_variables(df, "degrees_admitted_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, degrees(admitted) AS degrees_admitted_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  degrees_admitted_func_
id
5       no  3.44    Novice      Novice         0                 0.00000
34     yes  3.85  Advanced    Beginner         0                 0.00000
13      no  4.00  Advanced      Novice         1                57.29578
40     yes  3.95    Novice    Beginner         0                 0.00000
22     yes  3.46    Novice    Beginner         0                 0.00000
19     yes  1.98  Advanced    Advanced         0                 0.00000
36      no  3.00  Advanced      Novice         0                 0.00000
15     yes  4.00  Advanced    Advanced         1                57.29578
7      yes  2.33    Novice      Novice         1                57.29578
17      no  3.83  Advanced    Advanced         1                57.29578



 ************************* DataFrame.dtypes *********************
id                          int
masters                     str
gpa                       float
stats                       str
programming                 str
admitted                    int
degrees_admitted_func_    float



 'degrees_admitted_func_' Column Type: FLOAT

In [19]:
# RADIANS takes a value specified in degrees and converts it to radians.
# Syntax:
#        radians(column_expression/constant)

In [20]:
# Use case 1 for Radians - Convert 90 degrees to radians
df = admissions_train.assign(radians_const_func_ = func.radians(90))
print_variables(df, "radians_const_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, radians(90) AS radians_const_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  radians_const_func_
id
15     yes  4.00  Advanced    Advanced         1             1.570796
7      yes  2.33    Novice      Novice         1             1.570796
22     yes  3.46    Novice    Beginner         0             1.570796
17      no  3.83  Advanced    Advanced         1             1.570796
13      no  4.00  Advanced      Novice         1             1.570796
38     yes  2.65  Advanced    Beginner         1             1.570796
26     yes  3.57  Advanced    Advanced         1             1.570796
5       no  3.44    Novice      Novice         0             1.570796
34     yes  3.85  Advanced    Beginner         0             1.570796
40     yes  3.95    Novice    Beginner         0             1.570796



 ************************* DataFrame.dtypes *********************
id                       int
masters                  str
gpa                    float
stats                    str
programming              str
admitted                 int
radians_const_func_    float



 'radians_const_func_' Column Type: FLOAT

In [21]:
# Use case 2 for Degrees - Convert values in gpa assuming they are in degrees to radians
df = admissions_train.assign(radians_admitted_func_ = func.RADIANS(admissions_train.admitted.expression))
print_variables(df, "radians_admitted_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, RADIANS(admitted) AS radians_admitted_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  radians_admitted_func_
id
5       no  3.44    Novice      Novice         0                0.000000
34     yes  3.85  Advanced    Beginner         0                0.000000
13      no  4.00  Advanced      Novice         1                0.017453
40     yes  3.95    Novice    Beginner         0                0.000000
22     yes  3.46    Novice    Beginner         0                0.000000
19     yes  1.98  Advanced    Advanced         0                0.000000
36      no  3.00  Advanced      Novice         0                0.000000
15     yes  4.00  Advanced    Advanced         1                0.017453
7      yes  2.33    Novice      Novice         1                0.017453
17      no  3.83  Advanced    Advanced         1                0.017453



 ************************* DataFrame.dtypes *********************
id                          int
masters                     str
gpa                       float
stats                       str
programming                 str
admitted                    int
radians_admitted_func_    float



 'radians_admitted_func_' Column Type: FLOAT

### EXP function

In [22]:
# Function raises e (the base of natural logarithms) to the power of the argument, where e = 2.71828182845905.
# Syntax: 
#        exp(column_expression/constant)

In [23]:
# Use case 1: Calculate exp of values in column admitted
df = admissions_train.assign(exp_admitted_func_ = func.exp(admissions_train.admitted.expression))
print_variables(df, "exp_admitted_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, exp(admitted) AS exp_admitted_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  exp_admitted_func_
id
15     yes  4.00  Advanced    Advanced         1            2.718282
7      yes  2.33    Novice      Novice         1            2.718282
22     yes  3.46    Novice    Beginner         0            1.000000
17      no  3.83  Advanced    Advanced         1            2.718282
13      no  4.00  Advanced      Novice         1            2.718282
38     yes  2.65  Advanced    Beginner         1            2.718282
26     yes  3.57  Advanced    Advanced         1            2.718282
5       no  3.44    Novice      Novice         0            1.000000
34     yes  3.85  Advanced    Beginner         0            1.000000
40     yes  3.95    Novice    Beginner         0            1.000000



 ************************* DataFrame.dtypes *********************
id                      int
masters                 str
gpa                   float
stats                   str
programming             str
admitted                int
exp_admitted_func_    float



 'exp_admitted_func_' Column Type: FLOAT

In [24]:
# Use case 2: Calculate exp of 2
df = admissions_train.assign(exp_const_func_ = func.exp(admissions_train.admitted.expression))
print_variables(df, "exp_const_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, exp(admitted) AS exp_const_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  exp_const_func_
id
5       no  3.44    Novice      Novice         0         1.000000
34     yes  3.85  Advanced    Beginner         0         1.000000
13      no  4.00  Advanced      Novice         1         2.718282
40     yes  3.95    Novice    Beginner         0         1.000000
22     yes  3.46    Novice    Beginner         0         1.000000
19     yes  1.98  Advanced    Advanced         0         1.000000
36      no  3.00  Advanced      Novice         0         1.000000
15     yes  4.00  Advanced    Advanced         1         2.718282
7      yes  2.33    Novice      Novice         1         2.718282
17      no  3.83  Advanced    Advanced         1         2.718282



 ************************* DataFrame.dtypes *********************
id                   int
masters              str
gpa                float
stats                str
programming          str
admitted             int
exp_const_func_    float



 'exp_const_func_' Column Type: FLOAT

### FLOOR Function

In [25]:
# Function returns the largest integer equal to or less than the input argument.
# Syntax:
#         floor(column_expression/constant)

In [26]:
# Use case: Calculate floor of values in column gpa 
df = admissions_train.assign(floor_gpa_func_ = func.floor(admissions_train.gpa.expression))
print_variables(df, "floor_gpa_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, floor(gpa) AS floor_gpa_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  floor_gpa_func_
id
22     yes  3.46    Novice    Beginner         0              3.0
36      no  3.00  Advanced      Novice         0              3.0
15     yes  4.00  Advanced    Advanced         1              4.0
38     yes  2.65  Advanced    Beginner         1              2.0
5       no  3.44    Novice      Novice         0              3.0
17      no  3.83  Advanced    Advanced         1              3.0
34     yes  3.85  Advanced    Beginner         0              3.0
13      no  4.00  Advanced      Novice         1              4.0
26     yes  3.57  Advanced    Advanced         1              3.0
19     yes  1.98  Advanced    Advanced         0              1.0



 ************************* DataFrame.dtypes *********************
id                   int
masters              str
gpa                float
stats                str
programming          str
admitted             int
floor_gpa_func_    float



 'floor_gpa_func_' Column Type: FLOAT

In [27]:
# Use case: Calculate floor of constant value 2.43
df = admissions_train.assign(floor_gpa_func_ = func.FLOOR(2.43))
print_variables(df, "floor_gpa_func_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, FLOOR(2.43) AS floor_gpa_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  floor_gpa_func_
id
5       no  3.44    Novice      Novice         0              2.0
34     yes  3.85  Advanced    Beginner         0              2.0
13      no  4.00  Advanced      Novice         1              2.0
40     yes  3.95    Novice    Beginner         0              2.0
22     yes  3.46    Novice    Beginner         0              2.0
19     yes  1.98  Advanced    Advanced         0              2.0
36      no  3.00  Advanced      Novice         0              2.0
15     yes  4.00  Advanced    Advanced         1              2.0
7      yes  2.33    Novice      Novice         1              2.0
17      no  3.83  Advanced    Advanced         1              2.0



 ************************* DataFrame.dtypes *********************
id                   int
masters              str
gpa                float
stats                str
programming          str
admitted             int
floor_gpa_func_    float



 'floor_gpa_func_' Column Type: FLOAT

### Hyperbolic Functions

In [28]:
# These functions perform the hyperbolic or inverse hyperbolic function of an argument.
# Following hyperbolic function are available:
# - COSH(column_expression/constant)
# - SINH(column_expression/constant)
# - TANH(column_expression/constant)
# - ACOSH(column_expression/constant)
# - ASINH(column_expression/constant)
# - ATANH(column_expression/constant)

In [29]:
# Use case for SINH and ASINH functions, other functions can also be used in similar way
df = admissions_train.assign(sinh_gpa_func_ = func.sinh(admissions_train.gpa.expression), 
                        asinh_gpa_func_ = func.ASINH(func.sinh(admissions_train.gpa.expression)))
print_variables(df, ["sinh_gpa_func_", "asinh_gpa_func_"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ASINH(sinh(gpa)) AS asinh_gpa_func_, sinh(gpa) AS sinh_gpa_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  asinh_gpa_func_  sinh_gpa_func_
id
22     yes  3.46    Novice    Beginner         0             3.46       15.892773
36      no  3.00  Advanced      Novice         0             3.00       10.017875
15     yes  4.00  Advanced    Advanced         1             4.00       27.289917
38     yes  2.65  Advanced    Beginner         1             2.65        7.041694
5       no  3.44    Novice      Novice         0             3.44       15.577447
17      no  3.83  Advanced    Advanced         1             3.83       23.020414
34     yes  3.85  Advanced    Beginner         0             3.85       23.485892
13      no  4.00  Advanced      Novice         1             4.00       27.289917
26     yes  3.57  Advanced    Advanced         1             3.57       17.744219
19     yes  1.98  Advanced    Advanced         0             1.98        3.552337



 ************************* DataFrame.dtypes *********************
id                   int
masters              str
gpa                float
stats                str
programming          str
admitted             int
asinh_gpa_func_    float
sinh_gpa_func_     float



 'sinh_gpa_func_' Column Type: FLOAT
 'asinh_gpa_func_' Column Type: FLOAT

## Logarithmic Functions

### LN fucntion

In [30]:
# Compute the natural logarithm of the argument. 
# Syntax:
#        ln(column_expression/constant)

In [31]:
# Compute natural logarithm of values in gpa and a constant 10
df = admissions_train.assign(natural_log_gpa_func_ = func.LN(admissions_train.gpa.expression),
                       natural_log_const_func_ = func.LN(10))
print_variables(df, ["natural_log_gpa_func_", "natural_log_const_func_"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, LN(10) AS natural_log_const_func_, LN(gpa) AS natural_log_gpa_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  natural_log_const_func_  natural_log_gpa_func_
id
5       no  3.44    Novice      Novice         0                 2.302585               1.235471
7      yes  2.33    Novice      Novice         1                 2.302585               0.845868
22     yes  3.46    Novice    Beginner         0                 2.302585               1.241269
19     yes  1.98  Advanced    Advanced         0                 2.302585               0.683097
15     yes  4.00  Advanced    Advanced         1                 2.302585               1.386294
17      no  3.83  Advanced    Advanced         1                 2.302585               1.342865
34     yes  3.85  Advanced    Beginner         0                 2.302585               1.348073
13      no  4.00  Advanced      Novice         1                 2.302585               1.386294
36      no  3.00  Advanced      Novice         0                 2.302585               1.098612
40     yes  3.95    Novice    Beginner         0                 2.302585               1.373716



 ************************* DataFrame.dtypes *********************
id                           int
masters                      str
gpa                        float
stats                        str
programming                  str
admitted                     int
natural_log_const_func_    float
natural_log_gpa_func_      float



 'natural_log_gpa_func_' Column Type: FLOAT
 'natural_log_const_func_' Column Type: FLOAT

### LOG function

In [32]:
# Function computes the base 10 logarithm of an argument.
# Syntax:
#        LOG(column_expression/constant)

In [33]:
# Compute natural logarithm of values in gpa * 10 and a constant 10
df = admissions_train.assign(log_gpa_func_ = func.Log(admissions_train.gpa.expression * 10),
                       log_const_func = func.log(10))
print_variables(df, ["log_gpa_func_", "log_const_func"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, log(10) AS log_const_func, Log(gpa * 10) AS log_gpa_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  log_const_func  log_gpa_func_
id
22     yes  3.46    Novice    Beginner         0             1.0       1.539076
26     yes  3.57  Advanced    Advanced         1             1.0       1.552668
5       no  3.44    Novice      Novice         0             1.0       1.536558
17      no  3.83  Advanced    Advanced         1             1.0       1.583199
13      no  4.00  Advanced      Novice         1             1.0       1.602060
19     yes  1.98  Advanced    Advanced         0             1.0       1.296665
36      no  3.00  Advanced      Novice         0             1.0       1.477121
15     yes  4.00  Advanced    Advanced         1             1.0       1.602060
34     yes  3.85  Advanced    Beginner         0             1.0       1.585461
38     yes  2.65  Advanced    Beginner         1             1.0       1.423246



 ************************* DataFrame.dtypes *********************
id                  int
masters             str
gpa               float
stats               str
programming         str
admitted            int
log_const_func    float
log_gpa_func_     float



 'log_gpa_func_' Column Type: FLOAT
 'log_const_func' Column Type: FLOAT

### MOD Function

In [34]:
# Function returns the remainder (modulus) of expr1 divided by expr2.
# Syntax:
#        MOD(expr1, expr2)
#        Where, 
#                expr1 and expr2 can be column_expression or a constant

In [35]:
# Use case for MOD function
df = admissions_train.assign(modgpa2 = func.mod(admissions_train.gpa.expression, 2),
                       modgpa12 = func.MOD(12, admissions_train.gpa.expression),)
print_variables(df, ["modgpa2", "modgpa12"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, MOD(12, gpa) AS modgpa12, mod(gpa, 2) AS modgpa2 from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  modgpa12  modgpa2
id
5       no  3.44    Novice      Novice         0      1.68     1.44
34     yes  3.85  Advanced    Beginner         0      0.45     1.85
13      no  4.00  Advanced      Novice         1      0.00     0.00
40     yes  3.95    Novice    Beginner         0      0.15     1.95
22     yes  3.46    Novice    Beginner         0      1.62     1.46
19     yes  1.98  Advanced    Advanced         0      0.12     1.98
36      no  3.00  Advanced      Novice         0      0.00     1.00
15     yes  4.00  Advanced    Advanced         1      0.00     0.00
7      yes  2.33    Novice      Novice         1      0.35     0.33
17      no  3.83  Advanced    Advanced         1      0.51     1.83



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
modgpa12       float
modgpa2        float



 'modgpa2' Column Type: FLOAT
 'modgpa12' Column Type: FLOAT

## NULL to 0 and vice versa conversion functions

### NULLIFZERO functions

In [36]:
# Function converts data from zero to null to avoid problems with division by zero.
# Syntax:
#        NULLIFZERO(expr)
#        Where, 
#                expr - can be column_expression or a constant

In [37]:
# Use case of NULLIFZERO function - Function can be used, when we are dividing by a column that may contain 0, 
# so that we can avoid errors coming from expressions such as:
#         8 / 0
# Note:
#        In this example, we have combined teradataml ColumnExpression and SQLAlchemy func object
#        admissions_train.gpa -- Is a teradataml ColumnExpression
#        func.nullifzero(admissions_train.admitted.expression) -- Is SQLAlchemy func object
df = admissions_train.assign(admitted_null_if_zero = admissions_train.gpa / func.nullifzero(admissions_train.admitted.expression))
print_variables(df, "admitted_null_if_zero")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, gpa / nullifzero(admitted) AS admitted_null_if_zero from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  admitted_null_if_zero
id
15     yes  4.00  Advanced    Advanced         1                   4.00
7      yes  2.33    Novice      Novice         1                   2.33
22     yes  3.46    Novice    Beginner         0                    NaN
17      no  3.83  Advanced    Advanced         1                   3.83
13      no  4.00  Advanced      Novice         1                   4.00
38     yes  2.65  Advanced    Beginner         1                   2.65
26     yes  3.57  Advanced    Advanced         1                   3.57
5       no  3.44    Novice      Novice         0                    NaN
34     yes  3.85  Advanced    Beginner         0                    NaN
40     yes  3.95    Novice    Beginner         0                    NaN



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
admitted_null_if_zero    float



 'admitted_null_if_zero' Column Type: FLOAT

### ZEROIFNULL Function

In [38]:
# Function converts data from null to 0 to avoid cases where a null result creates an error.
# Syntax:
#        ZEROIFNULL(expr)
#        Where, 
#                expr - can be column_expression or a constant

In [39]:
# Note:
#        In this example, we have combined teradataml ColumnExpression and SQLAlchemy func object
#        admissions_train.gpa -- Is a teradataml ColumnExpression
#        func.nullifzero(admissions_train.admitted.expression) -- Is SQLAlchemy func object
df = admissions_train.assign(admitted_null_if_zero = admissions_train.gpa / func.nullifzero(admissions_train.admitted.expression),
                       admitted_zero_if_null = func.zeroifnull(
                           admissions_train.gpa.expression / func.nullifzero(admissions_train.admitted.expression)))
print_variables(df, ["admitted_null_if_zero", "admitted_zero_if_null"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, gpa / nullifzero(admitted) AS admitted_null_if_zero, zeroifnull(gpa / nullifzero(admitted)) AS admitted_zero_if_null from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  admitted_null_if_zero  admitted_zero_if_null
id
13      no  4.00  Advanced      Novice         1                   4.00  4.00000000000000E 000
26     yes  3.57  Advanced    Advanced         1                   3.57  3.57000000000000E 000
5       no  3.44    Novice      Novice         0                    NaN  0.00000000000000E 000
19     yes  1.98  Advanced    Advanced         0                    NaN  0.00000000000000E 000
15     yes  4.00  Advanced    Advanced         1                   4.00  4.00000000000000E 000
40     yes  3.95    Novice    Beginner         0                    NaN  0.00000000000000E 000
7      yes  2.33    Novice      Novice         1                   2.33  2.33000000000000E 000
22     yes  3.46    Novice    Beginner         0                    NaN  0.00000000000000E 000
36      no  3.00  Advanced      Novice         0                    NaN  0.00000000000000E 000
38     yes  2.65  Advanced    Beginner         1                   2.65  2.65000000000000E 000



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
admitted_null_if_zero    float
admitted_zero_if_null      str



 'admitted_null_if_zero' Column Type: FLOAT
 'admitted_zero_if_null' Column Type: NullType

### POWER function

In [40]:
# Function returns base_value raised to the power of exponent_value.
# Syntax:
#        power(expr1, expr2)
#        Where, 
#                expr1 and expr2 can be column_expression or a constant

In [41]:
# Use case POWER function:
# Find square of values in gpa column and gpa as base value raised to the value in admitted.
df = admissions_train.assign(pow2gpa = func.power(admissions_train.gpa.expression, 2),
                       pow_admitted_gpa = func.power(admissions_train.gpa.expression, admissions_train.admitted.expression))
print_variables(df, ["pow2gpa", "pow_admitted_gpa"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, power(gpa, 2) AS pow2gpa, power(gpa, admitted) AS pow_admitted_gpa from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  pow2gpa  pow_admitted_gpa
id
13      no  4.00  Advanced      Novice         1  16.0000              4.00
26     yes  3.57  Advanced    Advanced         1  12.7449              3.57
5       no  3.44    Novice      Novice         0  11.8336              1.00
19     yes  1.98  Advanced    Advanced         0   3.9204              1.00
15     yes  4.00  Advanced    Advanced         1  16.0000              4.00
40     yes  3.95    Novice    Beginner         0  15.6025              1.00
7      yes  2.33    Novice      Novice         1   5.4289              2.33
22     yes  3.46    Novice    Beginner         0  11.9716              1.00
36      no  3.00  Advanced      Novice         0   9.0000              1.00
38     yes  2.65  Advanced    Beginner         1   7.0225              2.65



 ************************* DataFrame.dtypes *********************
id                    int
masters               str
gpa                 float
stats                 str
programming           str
admitted              int
pow2gpa             float
pow_admitted_gpa    float



 'pow2gpa' Column Type: FLOAT
 'pow_admitted_gpa' Column Type: FLOAT

### Round Functions

In [42]:
# Function returns numeric_value rounded places_value places to the right or left of the decimal point.
# Syntax:
#        ROUND(expr1, expr2)
#        Where, 
#                expr1 and expr2 can be column_expression or a constant

In [43]:
# Example use cases for Round
df = admissions_train.assign(round_gpa_1 = func.Round(admissions_train.gpa.expression, 1),
                       round_gpa_admitted = func.round(admissions_train.gpa.expression, admissions_train.admitted.expression),
                       round_const_3 = func.ROUND(2.433412, 3))
print_variables(df, ["round_gpa_1", "round_gpa_admitted", "round_const_3"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ROUND(2.433412, 3) AS round_const_3, Round(gpa, 1) AS round_gpa_1, round(gpa, admitted) AS round_gpa_admitted from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  round_const_3  round_gpa_1  round_gpa_admitted
id
5       no  3.44    Novice      Novice         0          2.433          3.4                 3.0
34     yes  3.85  Advanced    Beginner         0          2.433          3.9                 4.0
13      no  4.00  Advanced      Novice         1          2.433          4.0                 4.0
40     yes  3.95    Novice    Beginner         0          2.433          4.0                 4.0
22     yes  3.46    Novice    Beginner         0          2.433          3.5                 3.0
19     yes  1.98  Advanced    Advanced         0          2.433          2.0                 2.0
36      no  3.00  Advanced      Novice         0          2.433          3.0                 3.0
15     yes  4.00  Advanced    Advanced         1          2.433          4.0                 4.0
7      yes  2.33    Novice      Novice         1          2.433          2.3                 2.3
17      no  3.83  Advanced    Advanced         1          2.433          3.8                 3.8



 ************************* DataFrame.dtypes *********************
id                      int
masters                 str
gpa                   float
stats                   str
programming             str
admitted                int
round_const_3         float
round_gpa_1           float
round_gpa_admitted    float



 'round_gpa_1' Column Type: FLOAT
 'round_gpa_admitted' Column Type: FLOAT
 'round_const_3' Column Type: FLOAT

### SIGN Function

In [44]:
# Returns the sign of numeric_value.
# Syntax:
#        sign(expr)
#        Where, 
#                expr can be column_expression or a constant

In [45]:
# SIGN function
df = admissions_train.assign(sign_gpa = func.sign(admissions_train.gpa.expression),
                        sign_const = func.sign(-3))
print_variables(df, ["sign_gpa", "sign_const"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, sign(-3) AS sign_const, sign(gpa) AS sign_gpa from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted sign_const sign_gpa
id
22     yes  3.46    Novice    Beginner         0         -1        1
26     yes  3.57  Advanced    Advanced         1         -1        1
5       no  3.44    Novice      Novice         0         -1        1
17      no  3.83  Advanced    Advanced         1         -1        1
13      no  4.00  Advanced      Novice         1         -1        1
19     yes  1.98  Advanced    Advanced         0         -1        1
36      no  3.00  Advanced      Novice         0         -1        1
15     yes  4.00  Advanced    Advanced         1         -1        1
34     yes  3.85  Advanced    Beginner         0         -1        1
38     yes  2.65  Advanced    Beginner         1         -1        1



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
sign_const     decimal.Decimal
sign_gpa       decimal.Decimal



 'sign_gpa' Column Type: NUMBER
 'sign_const' Column Type: NUMBER

### SQRT Function

In [46]:
# Computes the square root of an argument.
# Syntax:
#        sqrt(expr)
#        Where, 
#                expr can be column_expression or a constant

In [47]:
# Use case for sqrt function
df = admissions_train.assign(sqrt_gpa = func.sqrt(admissions_train.gpa.expression),
                        sqrt_const = func.SQRT(25))
print_variables(df, ["sqrt_gpa", "sqrt_const"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, SQRT(25) AS sqrt_const, sqrt(gpa) AS sqrt_gpa from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  sqrt_const  sqrt_gpa
id
5       no  3.44    Novice      Novice         0         5.0  1.854724
34     yes  3.85  Advanced    Beginner         0         5.0  1.962142
13      no  4.00  Advanced      Novice         1         5.0  2.000000
40     yes  3.95    Novice    Beginner         0         5.0  1.987461
22     yes  3.46    Novice    Beginner         0         5.0  1.860108
19     yes  1.98  Advanced    Advanced         0         5.0  1.407125
36      no  3.00  Advanced      Novice         0         5.0  1.732051
15     yes  4.00  Advanced    Advanced         1         5.0  2.000000
7      yes  2.33    Novice      Novice         1         5.0  1.526434
17      no  3.83  Advanced    Advanced         1         5.0  1.957039



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
sqrt_const     float
sqrt_gpa       float



 'sqrt_gpa' Column Type: FLOAT
 'sqrt_const' Column Type: FLOAT

## Trignometric Functions

In [48]:
# These functions perform the trigonometric or inverse trigonometric function of an argument.
# Following hyperbolic function are available:
# - COS(expr)
# - SIN(expr)
# - TAN(expr)
# - ACOS(expr)
# - ASIN(expr)
# - ATAN(expr)
# - ATAN2(x,y)
#        Where, 
#                expr can be column_expression or a constant
#                x - The x-coordinate of a point to use in the arctangent calculation.
#                y - The y-coordinate of a point to use in the arctangent calculation.

In [49]:
# Use case for trignometric function
df = admissions_train.assign(cos_admitted = func.cos(admissions_train.admitted.expression),
                        sin_admitted = func.sin(admissions_train.admitted.expression),
                        acos_admitted = func.acos(admissions_train.admitted.expression),
                        asin_admitted = func.asin(admissions_train.admitted.expression),
                        tan_admitted = func.tan(admissions_train.admitted.expression),
                        atan_admitted = func.atan(admissions_train.admitted.expression),
                        atan2_admitted = func.atan2(1,1))
print_variables(df, ["cos_admitted", "sin_admitted", "acos_admitted", "asin_admitted", "tan_admitted", "atan_admitted", "atan2_admitted"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, acos(admitted) AS acos_admitted, asin(admitted) AS asin_admitted, atan2(1, 1) AS atan2_admitted, atan(admitted) AS atan_admitted, cos(admitted) AS cos_admitted, sin(admitted) AS sin_admitted, tan(admitted) AS tan_admitted from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  acos_admitted  asin_admitted  atan2_admitted  atan_admitted  cos_admitted  sin_admitted  tan_admitted
id
22     yes  3.46    Novice    Beginner         0       1.570796       0.000000        0.785398       0.000000      1.000000      0.000000      0.000000
36      no  3.00  Advanced      Novice         0       1.570796       0.000000        0.785398       0.000000      1.000000      0.000000      0.000000
15     yes  4.00  Advanced    Advanced         1       0.000000       1.570796        0.785398       0.785398      0.540302      0.841471      1.557408
38     yes  2.65  Advanced    Beginner         1       0.000000       1.570796        0.785398       0.785398      0.540302      0.841471      1.557408
5       no  3.44    Novice      Novice         0       1.570796       0.000000        0.785398       0.000000      1.000000      0.000000      0.000000
17      no  3.83  Advanced    Advanced         1       0.000000       1.570796        0.785398       0.785398      0.540302      0.841471      1.557408
34     yes  3.85  Advanced    Beginner         0       1.570796       0.000000        0.785398       0.000000      1.000000      0.000000      0.000000
13      no  4.00  Advanced      Novice         1       0.000000       1.570796        0.785398       0.785398      0.540302      0.841471      1.557408
26     yes  3.57  Advanced    Advanced         1       0.000000       1.570796        0.785398       0.785398      0.540302      0.841471      1.557408
19     yes  1.98  Advanced    Advanced         0       1.570796       0.000000        0.785398       0.000000      1.000000      0.000000      0.000000



 ************************* DataFrame.dtypes *********************
id                  int
masters             str
gpa               float
stats               str
programming         str
admitted            int
acos_admitted     float
asin_admitted     float
atan2_admitted    float
atan_admitted     float
cos_admitted      float
sin_admitted      float
tan_admitted      float



 'cos_admitted' Column Type: FLOAT
 'sin_admitted' Column Type: FLOAT
 'acos_admitted' Column Type: FLOAT
 'asin_admitted' Column Type: FLOAT
 'tan_admitted' Column Type: FLOAT
 'atan_admitted' Column Type: FLOAT
 'atan2_admitted' Column Type: FLOAT

### TRUNC Function

In [50]:
# Returns expr1 truncated expr2 places to the right or left of the decimal point.
# Syntax:
#        TRUNC(expr1, expr2)
#        Where, 
#                expr1 and expr2 can be column_expression or a constant

In [51]:
# Example use cases for TRUNC
df = admissions_train.assign(trunc_gpa_1 = func.TRUNC(admissions_train.gpa.expression, 1),
                       trunc_gpa_admitted = func.trunc(admissions_train.gpa.expression, admissions_train.admitted.expression),
                       trunc_const_3 = func.Trunc(2.433412, -3))
print_variables(df, ["trunc_gpa_1", "trunc_gpa_admitted", "trunc_const_3"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, Trunc(2.433412, -3) AS trunc_const_3, TRUNC(gpa, 1) AS trunc_gpa_1, trunc(gpa, admitted) AS trunc_gpa_admitted from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  trunc_const_3  trunc_gpa_1  trunc_gpa_admitted
id
5       no  3.44    Novice      Novice         0            0.0          3.4                 3.0
7      yes  2.33    Novice      Novice         1            0.0          2.3                 2.3
22     yes  3.46    Novice    Beginner         0            0.0          3.4                 3.0
19     yes  1.98  Advanced    Advanced         0            0.0          1.9                 1.0
15     yes  4.00  Advanced    Advanced         1            0.0          4.0                 4.0
17      no  3.83  Advanced    Advanced         1            0.0          3.8                 3.8
34     yes  3.85  Advanced    Beginner         0            0.0          3.8                 3.0
13      no  4.00  Advanced      Novice         1            0.0          4.0                 4.0
36      no  3.00  Advanced      Novice         0            0.0          3.0                 3.0
40     yes  3.95    Novice    Beginner         0            0.0          3.9                 3.0



 ************************* DataFrame.dtypes *********************
id                      int
masters                 str
gpa                   float
stats                   str
programming             str
admitted                int
trunc_const_3         float
trunc_gpa_1           float
trunc_gpa_admitted    float



 'trunc_gpa_1' Column Type: FLOAT
 'trunc_gpa_admitted' Column Type: FLOAT
 'trunc_const_3' Column Type: FLOAT

### WIDTH_BUCKET Function

In [52]:
# Function returns the number of the partition to which value_expression is assigned.
# Syntax:
#        width_bucket(value_expression, lower_bound, upper_bound, partition_count)
#        Where,
#                value_expression - Column for which a partition number is to be returned.
#                lower_bound - The lower boundary for the range of values to be partitioned equally.
#                upper_bound - The upper boundary for the range of values to be partitioned equally.
#                partition_count - Number of partitions to be created. 
#                                  This value also specifies the width of the partitions by default.
#                                  The number of partitions created is partition_count + 2. 
#                                  Partition 0 and partition partition_count + 1 account for values of 
#                                  value_expression that are outside the lower and upper boundaries.

In [53]:
# Example use case for width_bucket
df = admissions_train.assign(bucket_gpa_ = func.Width_bucket(admissions_train.gpa.expression, 2.5, 3.5, 3))
print_variables(df, "bucket_gpa_")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, Width_bucket(gpa, 2.5, 3.5, 3) AS bucket_gpa_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  bucket_gpa_
id
15     yes  4.00  Advanced    Advanced         1            4
7      yes  2.33    Novice      Novice         1            0
22     yes  3.46    Novice    Beginner         0            3
17      no  3.83  Advanced    Advanced         1            4
13      no  4.00  Advanced      Novice         1            4
38     yes  2.65  Advanced    Beginner         1            1
26     yes  3.57  Advanced    Advanced         1            4
5       no  3.44    Novice      Novice         0            3
34     yes  3.85  Advanced    Beginner         0            4
40     yes  3.95    Novice    Beginner         0            4



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
bucket_gpa_      int



 'bucket_gpa_' Column Type: INTEGER

In [54]:
# RANDOM, RANGE_N --> Need investigation

In [55]:
# One must run remove_context() to close the connection and garbage collect internally generated objects.
remove_context()

True