### Disclaimer
Please note, the Vantage Functions via SQLAlchemy feature is a preview/beta code release with limited functionality (the “Code”). As such, you acknowledge that the Code is experimental in nature and that the Code is provided “AS IS” and may not be functional on any machine or in any environment. TERADATA DISCLAIMS ALL WARRANTIES RELATING TO THE CODE, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES AGAINST INFRINGEMENT OF THIRD-PARTY RIGHTS, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.

TERADATA SHALL NOT BE RESPONSIBLE OR LIABLE WITH RESPECT TO ANY SUBJECT MATTER OF THE CODE UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY 
    (A) FOR LOSS OR INACCURACY OF DATA OR COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY, OR 
    (B) FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO LOSS OF REVENUES AND LOSS OF PROFITS. TERADATA SHALL NOT BE RESPONSIBLE FOR ANY MATTER BEYOND ITS REASONABLE CONTROL.

Notwithstanding anything to the contrary: 
    (a) Teradata will have no obligation of any kind with respect to any Code-related comments, suggestions, design changes or improvements that you elect to provide to Teradata in either verbal or written form (collectively, “Feedback”), and 
    (b) Teradata and its affiliates are hereby free to use any ideas, concepts, know-how or techniques, in whole or in part, contained in Feedback: 
        (i) for any purpose whatsoever, including developing, manufacturing, and/or marketing products and/or services incorporating Feedback in whole or in part, and 
        (ii) without any restrictions or limitations, including requiring the payment of any license fees, royalties, or other consideration.

In [1]:
# In this notebook we shall cover examples for following String Functions:
# SQL Documentation: https://docs.teradata.com/reader/756LNiPSFdY~4JcCCcR5Cw/c2fX4dzxCcDJFKqXbyQtTA
    # 1. cahr2hexint
    # 2. ascii
    # 3. concat
    # 4. editdistance
    # 5. index
    # 6. instr
    # 7. length
    # 8. locate
    # 9. nvp
    # 10. otranslate
    # 11. reverse
    # 12. soundex
    # 13. string_cs
    # 14. REGR_R2
    # 15. REGR_SXX
    # 16. REGR_SXY
    # 17. REGR_SYY
    # 18. char
    # 19. initcap
    # 20. left
    # 21. lower
    # 22. upper
    # 23. lpad
    # 24. ltrim
    # 25. ngram
    # 26. oreplace
    # 27. position
    # 28. right
    # 29. rpad
    # 30. rtrim
    # 31. substring/substr
    # 32. trim

In [2]:
# Get the connection to the Vantage using create_context()
from teradataml import *
import getpass
td_context = create_context(host=getpass.getpass("Hostname: "), username=getpass.getpass("Username: "), password=getpass.getpass("Password: "))

# Load the example dataset.
load_example_data("GLM", ["admissions_train"])

Hostname: ········
Username: ········
Password: ········
WARNING: Skipped loading table admissions_train since it already exists in the database.

In [3]:
# Create the DataFrame on 'admissions_train' table
admissions_train = DataFrame("admissions_train")
admissions_train

   masters   gpa     stats programming  admitted
id
13      no  4.00  Advanced      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
19     yes  1.98  Advanced    Advanced         0
15     yes  4.00  Advanced    Advanced         1
40     yes  3.95    Novice    Beginner         0
7      yes  2.33    Novice      Novice         1
22     yes  3.46    Novice    Beginner         0
36      no  3.00  Advanced      Novice         0
38     yes  2.65  Advanced    Beginner         1

In [4]:
def print_variables(df, columns):
    print("Equivalent SQL: {}".format(df.show_query()))
    print("\n")
    print(" ************************* DataFrame ********************* ")
    print(df)
    print("\n\n")
    print(" ************************* DataFrame.dtypes ********************* ")
    print(df.dtypes)
    print("\n\n")
    if isinstance(columns, str):
        columns = [columns]
    for col in columns:
        coltype = df.__getattr__(col).type
        if isinstance(coltype, sqlalchemy.sql.sqltypes.NullType):
            coltype = "NullType"
        print(" '{}' Column Type: {}".format(col, coltype))

In [5]:
# Import func from SQLAlchemy to use the same for executing built-in functions in Teradata
from sqlalchemy import func

In [6]:
# Before we move on with examples, one should read below just to understand how teradataml DataFrame and 
# it's columns are used to create a SQLAlchemy ClauseElement/Expression.

# Often in below examples one would see something like this: 'admissions_train.admitted.expression'
# Here in the above expression,
#    'admissions_train' is 'teradataml DataFrame'
#    'admitted' is 'column name' in teradataml DataFrame 'admissions_train'
#    Thus, 
#        'admissions_train.admitted' together forms a ColumnExpression.
#    expression allows us to use teradata ColumnExpression to be treated as SQLAlchemy Expression.
#    Thus,
#        'admissions_train.admitted.expression' gives us an expression that can be used with SQLAlchemy clauseElements.

## CHAR2HEXINT function

In [7]:
# Returns the hexadecimal representation for a character string.

In [8]:
char2hexint_ = func.CHAR2HEXINT(admissions_train.stats.expression)
type(char2hexint_)

sqlalchemy.sql.functions.Function

In [9]:
char2hexint_df = admissions_train.assign(char2hexint_col=char2hexint_)
print_variables(char2hexint_df, "char2hexint_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, CHAR2HEXINT(stats) AS char2hexint_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted                                                                                                           char2hexint_col
id
13      no  4.00  Advanced      Novice         1  416476616E636564
36      no  3.00  Advanced      Novice         0  416476616E636564
15     yes  4.00  Advanced    Advanced         1  416476616E636564
40     yes  3.95    Novice    Beginner         0  4E6F76696365
22     yes  3.46    Novice    Beginner         0  4E6F76696365
38     yes  2.65  Advanced    Beginner         1  416476616E636564
26     yes  3.57  Advanced    Advanced         1  416476616E636564
5       no  3.44    Novice      Novice         0  4E6F76696365
7      yes  2.33    Novice      Novice         1  4E6F76696365
19     yes  1.98  Advanced    Advanced         0  416476616E636564



 ************************* DataFrame.dtypes *********************
id                   int
masters              str
gpa                float
stats                str
programming          str
admitted             int
char2hexint_col      str



 'char2hexint_col' Column Type: CHAR

## ASCII function

In [10]:
# Returns the decimal representation of the first character in string_expr as a NUMBER value. 
# The decimal representation will reflect the character set of the input string.

In [11]:
ascii_ = func.ascii(admissions_train.stats.expression)
type(ascii_)

sqlalchemy.sql.functions.Function

In [12]:
ascii_df = admissions_train.assign(ascii_col=ascii_)
print_variables(ascii_df, "ascii_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ascii(stats) AS ascii_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted ascii_col
id
13      no  4.00  Advanced      Novice         1        65
26     yes  3.57  Advanced    Advanced         1        65
5       no  3.44    Novice      Novice         0        78
19     yes  1.98  Advanced    Advanced         0        65
15     yes  4.00  Advanced    Advanced         1        65
40     yes  3.95    Novice    Beginner         0        78
7      yes  2.33    Novice      Novice         1        78
22     yes  3.46    Novice    Beginner         0        78
36      no  3.00  Advanced      Novice         0        65
38     yes  2.65  Advanced    Beginner         1        65



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
ascii_col      decimal.Decimal



 'ascii_col' Column Type: NUMBER

## CHAR function

In [13]:
# Returns the Latin ASCII character given a numeric code value.

In [14]:
char_ = func.char(admissions_train.stats.expression)
type(char_)

sqlalchemy.sql.functions.Function

In [15]:
char_df = admissions_train.assign(char_col=char_)
print_variables(char_df, "char_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, char(stats) AS char_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted char_col
id
22     yes  3.46    Novice    Beginner         0        6
36      no  3.00  Advanced      Novice         0        8
15     yes  4.00  Advanced    Advanced         1        8
38     yes  2.65  Advanced    Beginner         1        8
5       no  3.44    Novice      Novice         0        6
17      no  3.83  Advanced    Advanced         1        8
34     yes  3.85  Advanced    Beginner         0        8
13      no  4.00  Advanced      Novice         1        8
26     yes  3.57  Advanced    Advanced         1        8
19     yes  1.98  Advanced    Advanced         0        8



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
char_col         str



 'char_col' Column Type: NullType

## CONCAT function

In [16]:
# Concatenates string expressions.

In [17]:
concat_ = func.CONCAT(admissions_train.stats.expression, " ", admissions_train.masters.expression)
type(concat_)

sqlalchemy.sql.functions.concat

In [18]:
concat_df = admissions_train.assign(concat_col=concat_)
print_variables(concat_df, "concat_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, concat(stats, ' ', masters) AS concat_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted    concat_col
id
13      no  4.00  Advanced      Novice         1   Advanced no
26     yes  3.57  Advanced    Advanced         1  Advanced yes
5       no  3.44    Novice      Novice         0     Novice no
19     yes  1.98  Advanced    Advanced         0  Advanced yes
15     yes  4.00  Advanced    Advanced         1  Advanced yes
40     yes  3.95    Novice    Beginner         0    Novice yes
7      yes  2.33    Novice      Novice         1    Novice yes
22     yes  3.46    Novice    Beginner         0    Novice yes
36      no  3.00  Advanced      Novice         0   Advanced no
38     yes  2.65  Advanced    Beginner         1  Advanced yes



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
concat_col       str



 'concat_col' Column Type: VARCHAR

## EDITDISTANCE Function

In [19]:
# Returns the minimum number of edit operations (insertions, deletions, substitutions and transpositions) required to 
# transform string1 into string2.

In [20]:
ed_ = func.Editdistance(admissions_train.stats.expression, admissions_train.programming.expression)
type(ed_)

sqlalchemy.sql.functions.Function

In [21]:
ed_df = admissions_train.assign(ed_col=ed_)
print_variables(ed_df, "ed_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, Editdistance(stats, programming) AS ed_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  ed_col
id
22     yes  3.46    Novice    Beginner         0       6
36      no  3.00  Advanced      Novice         0       5
15     yes  4.00  Advanced    Advanced         1       0
38     yes  2.65  Advanced    Beginner         1       6
5       no  3.44    Novice      Novice         0       0
17      no  3.83  Advanced    Advanced         1       0
34     yes  3.85  Advanced    Beginner         0       6
13      no  4.00  Advanced      Novice         1       5
26     yes  3.57  Advanced    Advanced         1       0
19     yes  1.98  Advanced    Advanced         0       0



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
ed_col           int



 'ed_col' Column Type: INTEGER

## INDEX Function

In [22]:
# Returns the position in string_expression_1 where string_expression_2 starts.

In [23]:
index_ = func.Index(admissions_train.stats.expression, "e")
type(index_)

sqlalchemy.sql.functions.Function

In [24]:
index_df = admissions_train.assign(index_col=index_)
print_variables(index_df, "index_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, Index(stats, 'e') AS index_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  index_col
id
22     yes  3.46    Novice    Beginner         0          6
36      no  3.00  Advanced      Novice         0          7
15     yes  4.00  Advanced    Advanced         1          7
38     yes  2.65  Advanced    Beginner         1          7
5       no  3.44    Novice      Novice         0          6
17      no  3.83  Advanced    Advanced         1          7
34     yes  3.85  Advanced    Beginner         0          7
13      no  4.00  Advanced      Novice         1          7
26     yes  3.57  Advanced    Advanced         1          7
19     yes  1.98  Advanced    Advanced         0          7



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
index_col        int



 'index_col' Column Type: INTEGER

## INITCAP Function

In [25]:
# Modifies a string argument and returns the string with the first character in each word in uppercase and all other 
# characters in lowercase. Words are delimited by white space or characters that are not alphanumeric.

In [26]:
initcap_ = func.Initcap(admissions_train.masters.expression)
type(initcap_)

sqlalchemy.sql.functions.Function

In [27]:
initcap_df = admissions_train.assign(initcap_col=initcap_)
print_variables(initcap_df, "initcap_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, Initcap(masters) AS initcap_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted initcap_col
id
5       no  3.44    Novice      Novice         0          No
34     yes  3.85  Advanced    Beginner         0         Yes
13      no  4.00  Advanced      Novice         1          No
40     yes  3.95    Novice    Beginner         0         Yes
22     yes  3.46    Novice    Beginner         0         Yes
19     yes  1.98  Advanced    Advanced         0         Yes
36      no  3.00  Advanced      Novice         0          No
15     yes  4.00  Advanced    Advanced         1         Yes
7      yes  2.33    Novice      Novice         1         Yes
17      no  3.83  Advanced    Advanced         1          No



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
initcap_col      str



 'initcap_col' Column Type: VARCHAR

## INSTR Function

In [28]:
# Searches the source_string argument for occurrences of search_string.

In [29]:
instr_ = func.instr(admissions_train.stats.expression, "ce")
type(instr_)

sqlalchemy.sql.functions.Function

In [30]:
instr_df = admissions_train.assign(instr_col=instr_)
print_variables(instr_df, "instr_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, instr(stats, 'ce') AS instr_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted instr_col
id
13      no  4.00  Advanced      Novice         1         6
26     yes  3.57  Advanced    Advanced         1         6
5       no  3.44    Novice      Novice         0         5
19     yes  1.98  Advanced    Advanced         0         6
15     yes  4.00  Advanced    Advanced         1         6
40     yes  3.95    Novice    Beginner         0         5
7      yes  2.33    Novice      Novice         1         5
22     yes  3.46    Novice    Beginner         0         5
36      no  3.00  Advanced      Novice         0         6
38     yes  2.65  Advanced    Beginner         1         6



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
instr_col      decimal.Decimal



 'instr_col' Column Type: NUMBER

## LEFT Function

In [31]:
# Truncates in input string to a specified number of characters.
# The LEFT function can be called with the 'LEFT' or 'TD_LEFT' alias names.

In [32]:
left_ = func.left(admissions_train.stats.expression, 4)
type(left_)

sqlalchemy.sql.functions.Function

In [33]:
left_df = admissions_train.assign(left_col=left_)
print_variables(left_df, "left_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, left(stats, 4) AS left_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted left_col
id
13      no  4.00  Advanced      Novice         1     Adva
26     yes  3.57  Advanced    Advanced         1     Adva
5       no  3.44    Novice      Novice         0     Novi
19     yes  1.98  Advanced    Advanced         0     Adva
15     yes  4.00  Advanced    Advanced         1     Adva
40     yes  3.95    Novice    Beginner         0     Novi
7      yes  2.33    Novice      Novice         1     Novi
22     yes  3.46    Novice    Beginner         0     Novi
36      no  3.00  Advanced      Novice         0     Adva
38     yes  2.65  Advanced    Beginner         1     Adva



 ************************* DataFrame.dtypes *********************
id               int
masters          str
gpa            float
stats            str
programming      str
admitted         int
left_col         str



 'left_col' Column Type: VARCHAR

## LENGTH Function

In [34]:
# Returns the number of characters in the expression.

In [35]:
length_ = func.length(admissions_train.stats.expression)
type(length_)

sqlalchemy.sql.functions.Function

In [36]:
length_df = admissions_train.assign(length_df=length_)
print_variables(length_df, "length_df")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, length(stats) AS length_df from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted length_df
id
22     yes  3.46    Novice    Beginner         0         6
36      no  3.00  Advanced      Novice         0         8
15     yes  4.00  Advanced    Advanced         1         8
38     yes  2.65  Advanced    Beginner         1         8
5       no  3.44    Novice      Novice         0         6
17      no  3.83  Advanced    Advanced         1         8
34     yes  3.85  Advanced    Beginner         0         8
13      no  4.00  Advanced      Novice         1         8
26     yes  3.57  Advanced    Advanced         1         8
19     yes  1.98  Advanced    Advanced         0         8



 ************************* DataFrame.dtypes *********************
id                         int
masters                    str
gpa                      float
stats                      str
programming                str
admitted                   int
length_df      decimal.Decimal



 'length_df' Column Type: NUMBER

## LOCATE Function

In [37]:
# Returns the position of the first occurrence of string_expr1 within string_expr2. 
# The search for the first occurrence of string_expr1 begins with the first character position in string_expr2 
# unless the optional argument, n1, is specified.

In [38]:
str_func_ = func.locate("ce", admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [39]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, locate('ce', stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  str_func_col
id
13      no  4.00  Advanced      Novice         1             6
36      no  3.00  Advanced      Novice         0             6
15     yes  4.00  Advanced    Advanced         1             6
40     yes  3.95    Novice    Beginner         0             5
22     yes  3.46    Novice    Beginner         0             5
38     yes  2.65  Advanced    Beginner         1             6
26     yes  3.57  Advanced    Advanced         1             6
5       no  3.44    Novice      Novice         0             5
7      yes  2.33    Novice      Novice         1             5
19     yes  1.98  Advanced    Advanced         0             6



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      int



 'str_func_col' Column Type: INTEGER

## LOWER Function

In [40]:
# Returns a character string identical to character_string_expression, except that all uppercase letters are replaced
# with their lowercase equivalents.

In [41]:
str_func_ = func.lower(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [42]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, lower(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
13      no  4.00  Advanced      Novice         1     advanced
26     yes  3.57  Advanced    Advanced         1     advanced
5       no  3.44    Novice      Novice         0       novice
19     yes  1.98  Advanced    Advanced         0     advanced
15     yes  4.00  Advanced    Advanced         1     advanced
40     yes  3.95    Novice    Beginner         0       novice
7      yes  2.33    Novice      Novice         1       novice
22     yes  3.46    Novice    Beginner         0       novice
36      no  3.00  Advanced      Novice         0     advanced
38     yes  2.65  Advanced    Beginner         1     advanced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## LPAD Function

In [43]:
# Returns the source_string padded to the left with the characters in fill_string so that the resulting string is length 
# characters.

In [44]:
str_func_ = func.lpad(admissions_train.stats.expression, 20, '0')
type(str_func_)

sqlalchemy.sql.functions.Function

In [45]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, lpad(stats, 20, '0') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted          str_func_col
id
13      no  4.00  Advanced      Novice         1  000000000000Advanced
26     yes  3.57  Advanced    Advanced         1  000000000000Advanced
5       no  3.44    Novice      Novice         0  00000000000000Novice
19     yes  1.98  Advanced    Advanced         0  000000000000Advanced
15     yes  4.00  Advanced    Advanced         1  000000000000Advanced
40     yes  3.95    Novice    Beginner         0  00000000000000Novice
7      yes  2.33    Novice      Novice         1  00000000000000Novice
22     yes  3.46    Novice    Beginner         0  00000000000000Novice
36      no  3.00  Advanced      Novice         0  000000000000Advanced
38     yes  2.65  Advanced    Beginner         1  000000000000Advanced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## LTRIM Function

In [46]:
# Returns the argument expr1, with its left-most characters removed up to the first character that is not in the argument expr2.

In [47]:
str_func_ = func.ltrim(admissions_train.stats.expression, 'Adv')
type(str_func_)

sqlalchemy.sql.functions.Function

In [48]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ltrim(stats, 'Adv') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
13      no  4.00  Advanced      Novice         1        anced
26     yes  3.57  Advanced    Advanced         1        anced
5       no  3.44    Novice      Novice         0       Novice
19     yes  1.98  Advanced    Advanced         0        anced
15     yes  4.00  Advanced    Advanced         1        anced
40     yes  3.95    Novice    Beginner         0       Novice
7      yes  2.33    Novice      Novice         1       Novice
22     yes  3.46    Novice    Beginner         0       Novice
36      no  3.00  Advanced      Novice         0        anced
38     yes  2.65  Advanced    Beginner         1        anced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## NGRAM Function

In [49]:
# Returns the number of n-gram matches between string1 and string2.
# A high number of matching n-gram patterns implies a high similarity between the two strings.

In [50]:
str_func_ = func.NGRAM(admissions_train.stats.expression, admissions_train.programming.expression, 3)
type(str_func_)

sqlalchemy.sql.functions.Function

In [51]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, NGRAM(stats, programming, 3) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  str_func_col
id
13      no  4.00  Advanced      Novice         1             0
26     yes  3.57  Advanced    Advanced         1             6
5       no  3.44    Novice      Novice         0             4
19     yes  1.98  Advanced    Advanced         0             6
15     yes  4.00  Advanced    Advanced         1             6
40     yes  3.95    Novice    Beginner         0             0
7      yes  2.33    Novice      Novice         1             4
22     yes  3.46    Novice    Beginner         0             0
36      no  3.00  Advanced      Novice         0             0
38     yes  2.65  Advanced    Beginner         1             0



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      int



 'str_func_col' Column Type: INTEGER

## NVP Function

In [52]:
# Extracts the value of a name-value pair where the name in the pair matches the name and the number of the 
# occurrence specified.

In [53]:
str_func_ = func.NVP('entree:orange chicken#entree2:honey salmon', 'entree','#', ':', 1)
type(str_func_)

sqlalchemy.sql.functions.Function

In [54]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, NVP('entree:orange chicken#entree2:honey salmon', 'entree', '#', ':', 1) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted    str_func_col
id
22     yes  3.46    Novice    Beginner         0  orange chicken
36      no  3.00  Advanced      Novice         0  orange chicken
15     yes  4.00  Advanced    Advanced         1  orange chicken
38     yes  2.65  Advanced    Beginner         1  orange chicken
5       no  3.44    Novice      Novice         0  orange chicken
17      no  3.83  Advanced    Advanced         1  orange chicken
34     yes  3.85  Advanced    Beginner         0  orange chicken
13      no  4.00  Advanced      Novice         1  orange chicken
26     yes  3.57  Advanced    Advanced         1  orange chicken
19     yes  1.98  Advanced    Advanced         0  orange chicken



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## OREPLACE Function

In [55]:
# Replaces every occurrence of search_string in the source_string with the replace_string. 
# Use this function either to replace or remove portions of a string.

In [56]:
str_func_ = func.oreplace(admissions_train.stats.expression, "e", "@#")
type(str_func_)

sqlalchemy.sql.functions.Function

In [57]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, oreplace(stats, 'e', '@#') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0      Novic@#
36      no  3.00  Advanced      Novice         0    Advanc@#d
15     yes  4.00  Advanced    Advanced         1    Advanc@#d
38     yes  2.65  Advanced    Beginner         1    Advanc@#d
5       no  3.44    Novice      Novice         0      Novic@#
17      no  3.83  Advanced    Advanced         1    Advanc@#d
34     yes  3.85  Advanced    Beginner         0    Advanc@#d
13      no  4.00  Advanced      Novice         1    Advanc@#d
26     yes  3.57  Advanced    Advanced         1    Advanc@#d
19     yes  1.98  Advanced    Advanced         0    Advanc@#d



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## OTRANSLATE Function

In [58]:
# Returns source_string with every occurrence of each character in from_string replaced with the corresponding 
# character in to_string.

In [59]:
str_func_ = func.OTRANSLATE(admissions_train.stats.expression, "vice", "UCMe")
type(str_func_)

sqlalchemy.sql.functions.Function

In [60]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, OTRANSLATE(stats, 'vice', 'UCMe') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
5       no  3.44    Novice      Novice         0       NoUCMe
7      yes  2.33    Novice      Novice         1       NoUCMe
22     yes  3.46    Novice    Beginner         0       NoUCMe
19     yes  1.98  Advanced    Advanced         0     AdUanMed
15     yes  4.00  Advanced    Advanced         1     AdUanMed
17      no  3.83  Advanced    Advanced         1     AdUanMed
34     yes  3.85  Advanced    Beginner         0     AdUanMed
13      no  4.00  Advanced      Novice         1     AdUanMed
36      no  3.00  Advanced      Novice         0     AdUanMed
40     yes  3.95    Novice    Beginner         0       NoUCMe



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## POSITION Function

In [61]:
# Returns the position in string_expression_2 where string_expression_1 starts.

In [62]:
str_func_ = func.position(admissions_train.stats.expression.in_("n"))
type(str_func_)

sqlalchemy.sql.functions.Function

In [63]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, position(stats IN ('n')) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  str_func_col
id
22     yes  3.46    Novice    Beginner         0             0
36      no  3.00  Advanced      Novice         0             0
15     yes  4.00  Advanced    Advanced         1             0
38     yes  2.65  Advanced    Beginner         1             0
5       no  3.44    Novice      Novice         0             0
17      no  3.83  Advanced    Advanced         1             0
34     yes  3.85  Advanced    Beginner         0             0
13      no  4.00  Advanced      Novice         1             0
26     yes  3.57  Advanced    Advanced         1             0
19     yes  1.98  Advanced    Advanced         0             0



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      int



 'str_func_col' Column Type: INTEGER

## REVERSE Function

In [64]:
# Reverses the input string.

In [65]:
str_func_ = func.reverse(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [66]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, reverse(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0       ecivoN
36      no  3.00  Advanced      Novice         0     decnavdA
15     yes  4.00  Advanced    Advanced         1     decnavdA
38     yes  2.65  Advanced    Beginner         1     decnavdA
5       no  3.44    Novice      Novice         0       ecivoN
17      no  3.83  Advanced    Advanced         1     decnavdA
34     yes  3.85  Advanced    Beginner         0     decnavdA
13      no  4.00  Advanced      Novice         1     decnavdA
26     yes  3.57  Advanced    Advanced         1     decnavdA
19     yes  1.98  Advanced    Advanced         0     decnavdA



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## RIGHT Function

In [67]:
# Starting from the end of the input string, a substring is created with the number of characters specified by the 
# second parameter.
# The RIGHT function can be called with the 'RIGHT' or 'TD_RIGHT' alias names.

In [68]:
str_func_ = func.right(admissions_train.stats.expression, 5)
type(str_func_)

sqlalchemy.sql.functions.Function

In [69]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, right(stats, 5) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0        ovice
36      no  3.00  Advanced      Novice         0        anced
15     yes  4.00  Advanced    Advanced         1        anced
38     yes  2.65  Advanced    Beginner         1        anced
5       no  3.44    Novice      Novice         0        ovice
17      no  3.83  Advanced    Advanced         1        anced
34     yes  3.85  Advanced    Beginner         0        anced
13      no  4.00  Advanced      Novice         1        anced
26     yes  3.57  Advanced    Advanced         1        anced
19     yes  1.98  Advanced    Advanced         0        anced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## RPAD Function

In [70]:
# Returns the source_string padded to the right with the characters in fill_string so that the resulting string is 
# length characters.

In [71]:
str_func_ = func.rpad(admissions_train.stats.expression, 20, "-")
type(str_func_)

sqlalchemy.sql.functions.Function

In [72]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, rpad(stats, 20, '-') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted          str_func_col
id
22     yes  3.46    Novice    Beginner         0  Novice--------------
36      no  3.00  Advanced      Novice         0  Advanced------------
15     yes  4.00  Advanced    Advanced         1  Advanced------------
38     yes  2.65  Advanced    Beginner         1  Advanced------------
5       no  3.44    Novice      Novice         0  Novice--------------
17      no  3.83  Advanced    Advanced         1  Advanced------------
34     yes  3.85  Advanced    Beginner         0  Advanced------------
13      no  4.00  Advanced      Novice         1  Advanced------------
26     yes  3.57  Advanced    Advanced         1  Advanced------------
19     yes  1.98  Advanced    Advanced         0  Advanced------------



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## RTRIM Function

In [73]:
# Returns the argument expr1, with its right-most characters removed up to the first character that is not in the 
# argument expr2.

In [74]:
str_func_ = func.rtrim(admissions_train.stats.expression, 'e')
type(str_func_)

sqlalchemy.sql.functions.Function

In [75]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, rtrim(stats, 'e') AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0        Novic
36      no  3.00  Advanced      Novice         0     Advanced
15     yes  4.00  Advanced    Advanced         1     Advanced
38     yes  2.65  Advanced    Beginner         1     Advanced
5       no  3.44    Novice      Novice         0        Novic
17      no  3.83  Advanced    Advanced         1     Advanced
34     yes  3.85  Advanced    Beginner         0     Advanced
13      no  4.00  Advanced      Novice         1     Advanced
26     yes  3.57  Advanced    Advanced         1     Advanced
19     yes  1.98  Advanced    Advanced         0     Advanced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## SOUNDEX Function

In [76]:
# Returns a character string that represents the Soundex code for string_expression.

In [77]:
str_func_ = func.soundex(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [78]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, soundex(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
5       no  3.44    Novice      Novice         0         N120
34     yes  3.85  Advanced    Beginner         0         A315
13      no  4.00  Advanced      Novice         1         A315
40     yes  3.95    Novice    Beginner         0         N120
22     yes  3.46    Novice    Beginner         0         N120
19     yes  1.98  Advanced    Advanced         0         A315
36      no  3.00  Advanced      Novice         0         A315
15     yes  4.00  Advanced    Advanced         1         A315
7      yes  2.33    Novice      Novice         1         N120
17      no  3.83  Advanced    Advanced         1         A315



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## STRING_CS Function

In [79]:
# Returns a heuristically derived integer value that you can use to help determine which KANJI1-compatible client 
# character set was used to encode string_expression.

In [80]:
str_func_ = func.string_cs(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [81]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, string_cs(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted  str_func_col
id
22     yes  3.46    Novice    Beginner         0             0
36      no  3.00  Advanced      Novice         0             0
15     yes  4.00  Advanced    Advanced         1             0
38     yes  2.65  Advanced    Beginner         1             0
5       no  3.44    Novice      Novice         0             0
17      no  3.83  Advanced    Advanced         1             0
34     yes  3.85  Advanced    Beginner         0             0
13      no  4.00  Advanced      Novice         1             0
26     yes  3.57  Advanced    Advanced         1             0
19     yes  1.98  Advanced    Advanced         0             0



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      int



 'str_func_col' Column Type: INTEGER

## TRIM Function

In [82]:
# Takes a character or byte string_expression argument, trims the specified pad characters or bytes, and returns the 
# trimmed string.

In [83]:
str_func_ = func.trim(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [84]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, trim(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0       Novice
36      no  3.00  Advanced      Novice         0     Advanced
15     yes  4.00  Advanced    Advanced         1     Advanced
38     yes  2.65  Advanced    Beginner         1     Advanced
5       no  3.44    Novice      Novice         0       Novice
17      no  3.83  Advanced    Advanced         1     Advanced
34     yes  3.85  Advanced    Beginner         0     Advanced
13      no  4.00  Advanced      Novice         1     Advanced
26     yes  3.57  Advanced    Advanced         1     Advanced
19     yes  1.98  Advanced    Advanced         0     Advanced



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

## UPPER/UCASE Function

In [85]:
# Returns a character string identical to character_string_expression, except that all lowercase letters are replaced by 
# their uppercase equivalents.

In [86]:
str_func_ = func.ucase(admissions_train.stats.expression)
type(str_func_)

sqlalchemy.sql.functions.Function

In [87]:
str_func_df = admissions_train.assign(str_func_col=str_func_)
print_variables(str_func_df, "str_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, ucase(stats) AS str_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted str_func_col
id
22     yes  3.46    Novice    Beginner         0       NOVICE
36      no  3.00  Advanced      Novice         0     ADVANCED
15     yes  4.00  Advanced    Advanced         1     ADVANCED
38     yes  2.65  Advanced    Beginner         1     ADVANCED
5       no  3.44    Novice      Novice         0       NOVICE
17      no  3.83  Advanced    Advanced         1     ADVANCED
34     yes  3.85  Advanced    Beginner         0     ADVANCED
13      no  4.00  Advanced      Novice         1     ADVANCED
26     yes  3.57  Advanced    Advanced         1     ADVANCED
19     yes  1.98  Advanced    Advanced         0     ADVANCED



 ************************* DataFrame.dtypes *********************
id                int
masters           str
gpa             float
stats             str
programming       str
admitted          int
str_func_col      str



 'str_func_col' Column Type: VARCHAR

In [88]:
# One must run remove_context() to close the connection and garbage collect internally generated objects.
remove_context()

True

In [89]:
# CSV, CSVLD, POSITION, STROK, STRTOK_SPLIT_TO_TABLE, Translate, TRANSLATE_CHK - Needs investiation
# VARGRAPHIC Function - teradatasqlalchmy yet does not support VARGRAPHIC type. 
#                       Once support is added, user can use Vargraphic function.
# substring - Need more investigation