### Disclaimer
Please note, the Vantage Functions via SQLAlchemy feature is a preview/beta code release with limited functionality (the “Code”). As such, you acknowledge that the Code is experimental in nature and that the Code is provided “AS IS” and may not be functional on any machine or in any environment. TERADATA DISCLAIMS ALL WARRANTIES RELATING TO THE CODE, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES AGAINST INFRINGEMENT OF THIRD-PARTY RIGHTS, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.

TERADATA SHALL NOT BE RESPONSIBLE OR LIABLE WITH RESPECT TO ANY SUBJECT MATTER OF THE CODE UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY 
    (A) FOR LOSS OR INACCURACY OF DATA OR COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY, OR 
    (B) FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO LOSS OF REVENUES AND LOSS OF PROFITS. TERADATA SHALL NOT BE RESPONSIBLE FOR ANY MATTER BEYOND ITS REASONABLE CONTROL.

Notwithstanding anything to the contrary: 
    (a) Teradata will have no obligation of any kind with respect to any Code-related comments, suggestions, design changes or improvements that you elect to provide to Teradata in either verbal or written form (collectively, “Feedback”), and 
    (b) Teradata and its affiliates are hereby free to use any ideas, concepts, know-how or techniques, in whole or in part, contained in Feedback: 
        (i) for any purpose whatsoever, including developing, manufacturing, and/or marketing products and/or services incorporating Feedback in whole or in part, and 
        (ii) without any restrictions or limitations, including requiring the payment of any license fees, royalties, or other consideration.

In [1]:
# In this notebook we shall cover examples for following Built-In Functions:
# SQL Documentation: https://docs.teradata.com/reader/756LNiPSFdY~4JcCCcR5Cw/c2fX4dzxCcDJFKqXbyQtTA
    # 1. current_date
    # 2. curdate
    # 3. current_time
    # 4. curtime
    # 5. current_timestamp

In [2]:
# Get the connection to the Vantage using create_context()
from teradataml import *
import getpass
td_context = create_context(host=getpass.getpass("Hostname: "), username=getpass.getpass("Username: "), password=getpass.getpass("Password: "))

# Load the example dataset.
load_example_data("GLM", ["admissions_train"])

Hostname: ········
Username: ········
Password: ········
WARNING: Skipped loading table admissions_train since it already exists in the database.

In [3]:
# Create the DataFrame on 'admissions_train' table
admissions_train = DataFrame("admissions_train")
admissions_train

   masters   gpa     stats programming  admitted
id
15     yes  4.00  Advanced    Advanced         1
7      yes  2.33    Novice      Novice         1
22     yes  3.46    Novice    Beginner         0
17      no  3.83  Advanced    Advanced         1
13      no  4.00  Advanced      Novice         1
38     yes  2.65  Advanced    Beginner         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
34     yes  3.85  Advanced    Beginner         0
40     yes  3.95    Novice    Beginner         0

In [4]:
def print_variables(df, columns):
    print("Equivalent SQL: {}".format(df.show_query()))
    print("\n")
    print(" ************************* DataFrame ********************* ")
    print(df)
    print("\n\n")
    print(" ************************* DataFrame.dtypes ********************* ")
    print(df.dtypes)
    print("\n\n")
    if isinstance(columns, str):
        columns = [columns]
    for col in columns:
        coltype = df.__getattr__(col).type
        if isinstance(coltype, sqlalchemy.sql.sqltypes.NullType):
            coltype = "NullType"
        print(" '{}' Column Type: {}".format(col, coltype))

## Using Built-in Functions in Teradata Vantage with the help SQLAlchemny

In [5]:
# Import func from SQLAlchemy to use the same for executing built-in functions in Teradata
from sqlalchemy import func

In [6]:
# Before we move on with examples, one should read below just to understand how teradataml DataFrame and 
# it's columns are used to create a SQLAlchemy ClauseElement/Expression.

# Often in below examples one would see something like this: 'admissions_train.admitted.expression'
# Here in the above expression,
#    'admissions_train' is 'teradataml DataFrame'
#    'admitted' is 'column name' in teradataml DataFrame 'admissions_train'
#    Thus, 
#        'admissions_train.admitted' together forms a ColumnExpression.
#    expression allows us to use teradata ColumnExpression to be treated as SQLAlchemy Expression.
#    Thus,
#        'admissions_train.admitted.expression' gives us an expression that can be used with SQLAlchemy clauseElements.

### Current Date / CurDate

In [7]:
current_date_ = func.current_date()
type(current_date_)

sqlalchemy.sql.functions.current_date

In [8]:
df = admissions_train.assign(current_date_col=current_date_)
print_variables(df, "current_date_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, CURRENT_DATE AS current_date_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted current_date_col
id
22     yes  3.46    Novice    Beginner         0         21/01/28
36      no  3.00  Advanced      Novice         0         21/01/28
15     yes  4.00  Advanced    Advanced         1         21/01/28
38     yes  2.65  Advanced    Beginner         1         21/01/28
5       no  3.44    Novice      Novice         0         21/01/28
17      no  3.83  Advanced    Advanced         1         21/01/28
34     yes  3.85  Advanced    Beginner         0         21/01/28
13      no  4.00  Advanced      Novice         1         21/01/28
26     yes  3.57  Advanced    Advanced         1         21/01/28
19     yes  1.98  Advanced    Advanced         0         21/01/28



 ************************* DataFrame.dtypes *********************
id                            int
masters                       str
gpa                         float
stats                         str
programming                   str
admitted                      int
current_date_col    datetime.date



 'current_date_col' Column Type: DATE

In [9]:
df = admissions_train.assign(curdate_func_col=func.curdate())
print_variables(df, "curdate_func_col")

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, curdate() AS curdate_func_col from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted curdate_func_col
id
15     yes  4.00  Advanced    Advanced         1         21/01/28
7      yes  2.33    Novice      Novice         1         21/01/28
22     yes  3.46    Novice    Beginner         0         21/01/28
17      no  3.83  Advanced    Advanced         1         21/01/28
13      no  4.00  Advanced      Novice         1         21/01/28
38     yes  2.65  Advanced    Beginner         1         21/01/28
26     yes  3.57  Advanced    Advanced         1         21/01/28
5       no  3.44    Novice      Novice         0         21/01/28
34     yes  3.85  Advanced    Beginner         0         21/01/28
40     yes  3.95    Novice    Beginner         0         21/01/28



 ************************* DataFrame.dtypes *********************
id                            int
masters                       str
gpa                         float
stats                         str
programming                   str
admitted                      int
curdate_func_col    datetime.date



 'curdate_func_col' Column Type: DATE

In [10]:
# No support available for following syntax:
# current_date() AT LOCAL
# current_date() AT expression/timezone_str
# current_date() AT TIME ZONE expression/timezone_str
# Only basic form execution is supported.

### Current Time / CurTime

In [11]:
current_time_ = func.current_time()
type(current_time_)

sqlalchemy.sql.functions.current_time

In [12]:
ct = admissions_train.assign(current_time_func_=current_time_, curtime_func_=func.curtime())
print_variables(ct, ["current_time_func_", "curtime_func_"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, CURRENT_TIME AS current_time_func_, curtime() AS curtime_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted current_time_func_ curtime_func_
id
22     yes  3.46    Novice    Beginner         0     01:57:56+00:00      01:57:56
36      no  3.00  Advanced      Novice         0     01:57:56+00:00      01:57:56
15     yes  4.00  Advanced    Advanced         1     01:57:56+00:00      01:57:56
38     yes  2.65  Advanced    Beginner         1     01:57:56+00:00      01:57:56
5       no  3.44    Novice      Novice         0     01:57:56+00:00      01:57:56
17      no  3.83  Advanced    Advanced         1     01:57:56+00:00      01:57:56
34     yes  3.85  Advanced    Beginner         0     01:57:56+00:00      01:57:56
13      no  4.00  Advanced      Novice         1     01:57:56+00:00      01:57:56
26     yes  3.57  Advanced    Advanced         1     01:57:56+00:00      01:57:56
19     yes  1.98  Advanced    Advanced         0     01:57:56+00:00      01:57:56



 ************************* DataFrame.dtypes *********************
id                              int
masters                         str
gpa                           float
stats                           str
programming                     str
admitted                        int
current_time_func_    datetime.time
curtime_func_         datetime.time



 'current_time_func_' Column Type: TIME
 'curtime_func_' Column Type: TIME

In [13]:
# No support available for following syntax:
# current_time() AT LOCAL
# current_time() AT expression/timezone_str
# current_time() AT TIME ZONE expression/timezone_str
# Only basic form execution is supported.

In [14]:
## current_timestamp Function

In [15]:
current_time_ = func.current_timestamp()
type(current_time_)

sqlalchemy.sql.functions.current_timestamp

In [16]:
ct = admissions_train.assign(current_time_func_=current_time_)
print_variables(ct, ["current_time_func_"])

Equivalent SQL: select id AS id, masters AS masters, gpa AS gpa, stats AS stats, programming AS programming, admitted AS admitted, CURRENT_TIMESTAMP AS current_time_func_ from "admissions_train"


 ************************* DataFrame *********************
   masters   gpa     stats programming  admitted                current_time_func_
id
15     yes  4.00  Advanced    Advanced         1  2021-01-28 01:57:58.140000+00:00
7      yes  2.33    Novice      Novice         1  2021-01-28 01:57:58.140000+00:00
22     yes  3.46    Novice    Beginner         0  2021-01-28 01:57:58.140000+00:00
17      no  3.83  Advanced    Advanced         1  2021-01-28 01:57:58.140000+00:00
13      no  4.00  Advanced      Novice         1  2021-01-28 01:57:58.140000+00:00
38     yes  2.65  Advanced    Beginner         1  2021-01-28 01:57:58.140000+00:00
26     yes  3.57  Advanced    Advanced         1  2021-01-28 01:57:58.140000+00:00
5       no  3.44    Novice      Novice         0  2021-01-28 01:57:58.140000+00:00
34     yes  3.85  Advanced    Beginner         0  2021-01-28 01:57:58.140000+00:00
40     yes  3.95    Novice    Beginner         0  2021-01-28 01:57:58.140000+00:00



 ************************* DataFrame.dtypes *********************
id                                  int
masters                             str
gpa                               float
stats                               str
programming                         str
admitted                            int
current_time_func_    datetime.datetime



 'current_time_func_' Column Type: TIMESTAMP

In [17]:
# One must run remove_context() to close the connection and garbage collect internally generated objects.
remove_context()

True

In [18]:
# Not available to use -
# ACCOUNT, CURRENT ROLE, DATABASE, DATE, PROFILE, ROLE, SESSION, TEMPORAL_DATE, TEMPORAL_TIMESTAMP, TIME, USER